<template>
  <el-row>
    <el-col :span="24">
      <div class="panel panel-default">
        <div class="panel-heading">添加脚本测试用例</div>
        <div class="panel-body">
          <el-form :label-position="labelPosition" label-width="80px">
            <el-form-item label="需要运行的文件名">
              <el-input v-model="runName"></el-input>
            </el-form-item>
            <el-form-item label="上传文件">
              <el-upload
                class="upload-demo"
                drag
                action="http://112233.com"
                :http-request="addFile"
                :limit ="1"
                :on-exceed="handleExceed"
                ref='upload'
              >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">
                  将文件拖到此处，或
                  <em>点击上传</em>
                </div>
                <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
              </el-upload>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="OnSubmit()">提交</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      labelPosition: "top",
      runName: "",
      file: "",
      action:"",
      tcid: 0
    };
  },
  mounted() {
    this.tcid = JSON.parse(sessionStorage.getItem("tcid"));
  },
  methods: {
    OnSubmit() {
      let fd = new FormData()
      fd.append('file',this.file)
      fd.append('tcid',this.tcid)
      fd.append('runName',this.runName)
      fd.append('fileName',this.file.name)
      this.$api.testcase.AddScriptTestCase(fd).then(res => {
        this.$router.push('/testcase')
      })
    },
    handleExceed(files, fileList){
      this.$message.error("最多只能上传1个文件");
    },
    addFile(f){
      console.log(f.file)
      const isLt52M = f.file.size / 5120 / 1024 < 5;
      const isZip = f.file.type === "application/zip"
      if (!isZip)
      {
        this.$message({
            showClose: true,
            message: '只能上传zip文件类型',
            type: 'error'
          });
          this.$refs.upload.clearFiles()
          return
      }
      if (!isLt52M)
      {
        this.$message({
            showClose: true,
            message: '上传zip文件大小不能超过5M',
            type: 'error'
          });
          this.$refs.upload.clearFiles()
          return
      }
      this.file = f.file
    }
  }
};
</script>



<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}

.el-form {
  padding: 2% 5% 2% 5%;
}
</style>