<template>
  <el-row>
    <el-col :span="24">
        <div class="panel panel-default">
          <div class="panel-heading">脚本信息</div>
          <div class="panel-body">
            <el-form ref="form" label-width="80px">
              <el-form-item label="项目">
                <el-select v-model="project" placeholder="请选择项目">
                  <el-option
                    v-for="pro in projects"
                    :key="pro.pid"
                    :label="pro.pName"
                    :value="pro.pName"
                  ></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="用例名称">
                <el-input v-model="sname"></el-input>
              </el-form-item>

              <el-form-item label="用例类型">
                <el-radio-group v-model="apitype">
                  <el-radio label="API"></el-radio>
                  <el-radio label="UI"></el-radio>
                  <el-radio label="CodeScript"></el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="onSubmit">立即创建</el-button>
                <el-button>取消</el-button>
              </el-form-item>
            </el-form>
          </div>
        </div>
    </el-col>
  </el-row>
</template>


<script>
export default {
  data() {
    return {
      projects:[],
      project:"",
      sname:"",
      apitype:"API"
    };
  },
  mounted(){
    this.$api.project.GetAllProject().then(res => {
      this.projects = res.data.projects
    })
  },
  methods: {
    onSubmit() {
      let data = {
        'name':this.sname,
        'project':this.project,
        'type':this.apitype
      }
      this.$api.testcase.AddTestName(data).then(res=>{
        sessionStorage.setItem('tcid', JSON.stringify(res.data.tcid))
        if(res.data.type =="API")
        {
          // 跳转到API设置页面
          this.$router.push('/apiinfo')
        }
        else if(res.data.type =="UI")
        {
          //跳转到UI设置页
          this.$router.push('/uiinfo')
        }
        else if(res.data.type =="CodeScript")
        {
          //跳转到script页面
          this.$router.push('/addscriptpage')
        }
        else{
          this.$message({
            showClose: true,
            message: '请求服务器错误',
            type: 'error'
          });
        }
      })
    }
  }
};
</script>

<style>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
}

.panel-heading {
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}

.panel-body {
  margin-top: 20px;
  padding: 0 25% 0 15%;
  background-color: #fff;
}
</style>
