<template>
  <el-row>
    <el-col :span="24">
      <el-form :inline="true" class="demo-form-inline" style="margin:0 0 -18px 0">
        <el-form-item>
          <el-button @click="GlobalHeader()" type="success">添加全局headers</el-button>
        </el-form-item>
        <el-form-item>
          <el-button @click="GlobalVar()" type="success">添加自定义变量</el-button>
        </el-form-item>
        <el-button @click="OpreationRecord()" type="success">查看操作记录</el-button>
      </el-form>
      <div class="panel panel-default">
        <div class="panel-heading">{{ title }}API信息</div>
        <el-tree
          :data="apidata"
          node-key="id"
          default-expand-all
          :expand-on-click-node="false"
          :render-content="renderContent"
          :highlight-current="true"
          @node-drag-start="handleDragStart"
          @node-drop="handleDrop"
          draggable
          :allow-drop="allowDrop"
          :allow-drag="allowDrag"
        ></el-tree>
      </div>

      <el-dialog :close-on-click-modal="false" title="运行条件" :visible.sync="dialogFormVisible">
        <el-form>
          <el-form-item label="环境" :label-width="formLabelWidth">
            <el-select @change="EnvsChange" v-model="env" placeholder="请选择测试环境">
              <el-option v-for="e in envs" :key="e.eid" :label="e.eName" :value="e.eName"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label :label-width="formLabelWidth">
            <el-input v-model="envHost" disabled autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="报文解密" :label-width="formLabelWidth">
            <el-checkbox v-model="decrypt"></el-checkbox>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="OnSubmitRun()">确 定</el-button>
        </div>
      </el-dialog>

      <el-dialog width="70%" :close-on-click-modal="false" :title="dialogTitle" :visible.sync="apiSetpInfoVisible" @close='CloseStepDialog'>
        <div class="panel-heading">API信息</div>
        <el-form>
          <el-form-item label="步骤名" :label-width="formLabelWidth">
            <el-input v-model="setpName" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="具体接口地址" :label-width="formLabelWidth">
            <el-input v-model="urldetail" autocomplete="off" @change="GetUrlParams"></el-input>
          </el-form-item>
          <el-form-item label="接口类型" :label-width="formLabelWidth">
            <el-select v-model="apitype" placeholder="请选择条件" >
              <el-option label="get" value="get"></el-option>
              <el-option label="post" value="post"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="header" :label-width="formLabelWidth">
            <el-checkbox v-model="ownerHeader">如这个接口需要使用单独的Header参数则勾选</el-checkbox>
          </el-form-item>
        </el-form>
        <div v-if="ownerHeader" class="panel-heading">HEADERS</div>
        <el-form v-if="ownerHeader" :inline="true" class="demo-form-inline" >
          <el-form-item v-for="header in headers" :key="header.key">
            <el-input  class="hbinfo" placeholder="key" v-model="header.hkey"></el-input>
            <el-input  class="hbinfo" placeholder="value" v-model="header.value"></el-input>
            <el-button  type="primary" icon="el-icon-delete" @click.prevent="RemoveHeader(header)"></el-button>
          </el-form-item>
          <el-form-item >
            <el-button type="primary" icon="el-icon-circle-plus" @click="AddHeader">添加</el-button>
          </el-form-item>
        </el-form>
        
        <div v-if="apitype == 'get'" class="panel-heading">PARAM</div>
        <div v-if="apitype == 'post' || apitype==''" class="panel-heading">BODY</div>
        <el-form :inline="true" class="demo-form-inline">
          <el-form-item v-for="body in bodys" :key="body.key">
            <el-input class="hbinfo" placeholder="key" v-model="body.bkey"></el-input>
            <el-input class="hbinfo" placeholder="value" v-model="body.value"></el-input>
            <el-button type="primary" icon="el-icon-delete" @click.prevent="RemoveBody(body)"></el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="el-icon-circle-plus" @click="AddBody">添加</el-button>
          </el-form-item>
        </el-form>
        <div class="panel-heading">判断条件</div>
        <el-form>
          <el-form-item label="判断类型" :label-width="formLabelWidth">
            <el-radio v-model="judegType" label="1">字段验证</el-radio>
            <el-radio v-model="judegType" label="2">JSON验证</el-radio>
          </el-form-item>
          <div v-if="judegType == '1'">
            <el-form-item label="判断条件" :label-width="formLabelWidth">
              <el-select v-model="judegCondition" placeholder="请选择条件" >
                <el-option label="等于" value="dengyu"></el-option>
                <el-option label="不等于" value="budengyu"></el-option>
                <el-option label="大于" value="dayu"></el-option>
                <el-option label="大于等于" value="dayudengyu"></el-option>
                <el-option label="小于" value="xiaoyu"></el-option>
                <el-option label="小于等于" value="xiaoyudengyu"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="数据字段" :label-width="formLabelWidth">
              <el-input v-model="jsonValue" placeholder="字段名用逗号隔开,数组则填入下标" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="期望值" :label-width="formLabelWidth">
              <el-input v-model="comparedValue" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="备注信息" :label-width="formLabelWidth">
              <el-input v-model="msgValue" autocomplete="off"></el-input>
            </el-form-item>
          </div>
        <div v-if="judegType == '2'">
          <el-form-item label="接口JSON数据" :label-width="formLabelWidth">
            <v-jsoneditor v-model="originalJson" :plus="false" height="400px">
            </v-jsoneditor>
          </el-form-item>
          <el-form-item label="SCHEAM在线" :label-width="formLabelWidth">
            <a href="https://jsonschema.net/" target="_blank"><b>jsonschema tool</b></a>
          </el-form-item>
          <el-form-item label="JSON SCHEAM" :label-width="formLabelWidth">
            <v-jsoneditor v-model="jsonSchema" :plus="false" height="400px">
            </v-jsoneditor>
          </el-form-item>
        </div>
        </el-form>
        <div class="panel-heading">存储数据</div>
        <el-form>
          <el-form-item label="保存json数据" :label-width="formLabelWidth">
            <el-checkbox v-model="needSaveData">用途类似jmeter的json提取器</el-checkbox>
          </el-form-item>
          <el-form-item v-for="ed in extractDataList" :key="ed.key">
            <el-form-item v-if="needSaveData" label="引用名称" :label-width="formLabelWidth">
              <el-input class="extract" v-model="ed.callName" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item v-if="needSaveData" label="JSON字段路径" :label-width="formLabelWidth">
              <el-input class="extract" v-model="ed.saveDataPath" placeholder="字段名用逗号隔开,数组则填入下标" autocomplete="off"></el-input>
              <el-button type="primary" icon="el-icon-delete" @click.prevent="RemoveExtractDataList(ed)"></el-button>
            </el-form-item>
          </el-form-item>
          <el-form-item>
            <el-button v-if="needSaveData" type="primary" icon="el-icon-circle-plus" @click="AddExtractDataList">添加</el-button>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="apiSetpInfoVisible = false">取 消</el-button>
          <el-button type="primary" @click="DialogFormSubmit()">确 定</el-button>
        </div>
      </el-dialog>


      <el-dialog :close-on-click-modal="false" title="调试API" :visible.sync="debugForm">
        <el-form>
          <el-form-item label="环境" :label-width="formLabelWidth">
            <el-select @change="EnvsChange" v-model="env" placeholder="请选择测试环境">
              <el-option v-for="e in envs" :key="e.eid" :label="e.eName" :value="e.eName"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label :label-width="formLabelWidth">
            <el-input v-model="envHost" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="debugForm = false">取 消</el-button>
          <el-button type="primary" @click="DebugApiSubmit()">确 定</el-button>
        </div>

        <el-form>
          <el-form-item label="结果" :label-width="formLabelWidth">
            <el-input
              type="textarea"
              autosize
              readonly
              v-model="debugResult">
            </el-input>
          </el-form-item>
          <el-form-item label="返回的数据" :label-width="formLabelWidth">
            <!-- <pre>{{debugData}}</pre> -->
            <json-viewer
              :value="debugData"
              :expand-depth=5
              copyable
              boxed
              sort></json-viewer>
          </el-form-item>
        </el-form>
      </el-dialog>


      <el-dialog width="70%" :close-on-click-modal="false" title="添加headers" :visible.sync="headersVisible" @close='CloseHeaderDialog'>
        <div class="panel-heading">HEADERS</div>
        <el-form :inline="true" class="demo-form-inline" >
          <el-form-item v-for="header in globalheaders" :key="header.key">
            <el-input class="hbinfo" placeholder="key" v-model="header.hkey"></el-input>
            <el-input class="hbinfo" placeholder="value" v-model="header.value"></el-input>
            <el-button type="primary" icon="el-icon-delete" @click.prevent="RemovGlobaleHeader(header)"></el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="el-icon-circle-plus" @click="AddGlobalHeader">添加</el-button>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="headersVisible = false">取 消</el-button>
          <el-button type="primary" @click="GlobalHeaderSubmit()">确 定</el-button>
        </div>
      </el-dialog>

      <el-dialog width="70%" :close-on-click-modal="false" title="添加自定义变量" :visible.sync="varsVisible" @close='CloseVarsDialog'>
        <div class="panel-heading">VARIABLE</div>
        <el-form :inline="true" class="demo-form-inline" >
          <el-form-item v-for="v in globalVars" :key="v.key">
            <el-input class="hbinfo" placeholder="key" v-model="v.hkey"></el-input>
            <el-input class="hbinfo" placeholder="value" v-model="v.value"></el-input>
            <el-button type="primary" icon="el-icon-delete" @click.prevent="RemovGlobaleVar(v)"></el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="el-icon-circle-plus" @click="AddGlobalVar">添加</el-button>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="varsVisible = false">取 消</el-button>
          <el-button type="primary" @click="GlobalVarsSubmit()">确 定</el-button>
        </div>
      </el-dialog>

      <el-drawer
        title="操作历史"
        :visible.sync="popUpTable"
        direction="rtl"
        size="30%">
        <el-table :data="recordData" height="800" style="width: 100%">
          <el-table-column property="user" label="操作者" width="90"></el-table-column>
          <el-table-column property="content" label="内容" width="200"></el-table-column>
          <el-table-column property="time" label="日期"></el-table-column>
        </el-table>
      </el-drawer>


    </el-col>
  </el-row>
</template>




<script>

import VJsoneditor from 'v-jsoneditor/src/index'

export default {
  components:{
    VJsoneditor
  },
  data() {
    return {
      title: "",
      apidata: [],
      dialogFormVisible: false,
      apiSetpInfoVisible: false,
      envs: [],
      env: "",
      envHost: "",
      formLabelWidth: "120px",
      runCaseData: "",
      
      setpName:"",
      urldetail:"",

      ownerHeader : false,
      headers: [{hkey:"", value: "" }],
      bodys:[{bkey:"", value: "" }],
      apitype:"get",
      judegType:"",
      judegCondition:"",
      jsonValue:"",
      comparedValue:"",

      originalJson : "",
      jsonSchema : "",

      msgValue:"",

      // 打开添加步骤信息来源 1新增,2编辑
      openSource:0,
      dialogTitle:"添加测试步骤信息",

      tcid : 24,
      apiInfoData:{},

      debugForm:false,
      debugResult:"",
      debugData:{},
      tcmnid:0,

      headersVisible : false,
      globalheaders :[{hkey:"", value: "" }],

      varsVisible : false,
      globalVars :[{hkey:"", value: "" }],

      decrypt:false,

      needSaveData : false,
      extractDataList:[{"callName":"","saveDataPath":""}],

      recordData : [{user:"",content:"",time:""}],
      popUpTable : false


    };
  },
  mounted() {
    this.tcid = JSON.parse(sessionStorage.getItem("tcid"));
    let data = {
      id:this.tcid
    };
    this.$api.testcase.GetTreeJson(data).then(res => {
      this.apidata = res.data.data;
    });
    this.$api.testcase.GetTestCaseName(data).then(res => {
      this.title = res.data;
    });
    let params = {
      testId: data.id
    };
    this.$api.testcase.GetAllData(params).then(res => {
      this.envs = res.data;
    });
  },
  methods: {
    //运行测试用例
    RunTestCase(data) {
      this.env = "";
      this.envHost = "";
      this.decrypt = false;
      this.dialogFormVisible = true;
    },

    // 点击确定按钮调用运行测试用例接口
    OnSubmitRun() {
      this.dialogFormVisible = false;
      let data = {
        sid: this.tcid,
        env: this.envHost,
        decrypt:this.decrypt
      };
      this.$api.testcase.RunTest(data).then(res => {
        if (res.data.code == 1) {
          this.$message({ type: "success", message: res.data.message });
        } else {
          this.$message({ type: "warn", message: res.data.message });
        }
      });
    },

    EnvsChange(currentChioce) {
      for (var i = 0; i < this.envs.length; i++) {
        if (this.envs[i].eName == currentChioce) {
          this.envHost = this.envs[i].eHost;
        }
      }
    },

    // 添加功能点
    AddTestCaseName(data) {
      this.$prompt("请输入功能点名称", "添加功能点", {
        confirmButtonText: "确定",
        cancelButtonText: "取消"
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let apidata = {
            modelName: value,
            tcid: data.id
          };
          this.$api.testcase.AddModelName(apidata).then(res => {
            if (res.data.code == 1) {
              const newChild = {
                id: res.data.tcmnid,
                label: res.data.nodeName,
                children: []
              };
              data.children.push(newChild);
            } else {
              this.$message({ type: "warn", message: res.data.message });
            }
          });
        } else {
          this.$message({ type: "warn", message: "不能为空" });
        }
      });
    },

    // 修改测试用例名字
    EditTestCaseName(data) {
      console.log("aaaa")
      this.$prompt("请输入名称", "编辑测试用例名称", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValue: data.label
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let apidata = {
            type: 1,
            scriptName: value,
            modelId: data.id
          };
          this.$api.testcase.EditModelName(apidata).then(res => {
            if (res.data.code == 1) {
              this.apidata.label = res.data.nodeName;
            } else {
              this.$message({ type: "warn", message: res.data.message });
            }
          });
        } else {
          this.$message({ type: "info", message: "不能为空" });
        }
      });
    },

    // 添加操作名和实际操作步骤
    AddApiSetpInfo(data) {
      this.apiSetpInfoVisible = true;
      this.openSource = 1;
      this.apiInfoData = data;
    },

    DialogFormSubmit(){
      var headers = {}
      for(var i = 0;i<this.headers.length;i++)
      {
        var key = this.headers[i].hkey;
        var value = this.headers[i].value;
        headers[key] = value;
      };
      console.log("headers",headers)
      var bodys = {}
      for(var i = 0;i<this.bodys.length;i++)
      {
        var key = this.bodys[i].bkey;
        var value = this.bodys[i].value;
        bodys[key] = value;
      };
      console.log("bodys",bodys)
      if (this.setpName == "" || this.urldetail=="" || this.apitype=="")
      {
        this.$message({ type: "warn", message: "步骤名,具体接口地址,接口类型任意一个都不能为空" })
        return
      }
      if(this.openSource==1){
        // 新增
        let setpData={
          setpName:this.setpName,
          urldetail:this.urldetail,
          tcid:this.tcid,
          tcmnId:this.apiInfoData.id,
          ownerHeader:this.ownerHeader,
          headers:headers,
          bodys:bodys,
          apitype:this.apitype,
          judegType:this.judegType,
          judegCondition:this.judegCondition,
          jsonValue:this.jsonValue,
          needComparedValue:this.comparedValue,
          msg:this.msgValue,
          originalJson:this.originalJson,
          jsonSchema:this.jsonSchema,
          needSaveData:this.needSaveData,
          extractDataList:this.extractDataList
        }
        console.log("setpData",setpData)
        this.$api.testcase.AddApiStepName(setpData).then(res => {
          if (res.data.code == 1){
            const newChild = {
              id: res.data.tcsid,
              label: res.data.nodeName,
            };
            console.log("this.apiInfoData2",this.apiInfoData);
            this.apiInfoData.children.push(newChild);
          }
          else{
            this.$message({ type: "warn", message: res.data.message });
          }
        })
      }
      else if(this.openSource==2){
        // 编辑
        console.log("this.ownerHeader",this.ownerHeader)
        let setpData={
          tcsid:this.apiInfoData.id,
          setpName:this.setpName,
          urldetail:this.urldetail,
          ownerHeader:this.ownerHeader,
          headers:headers,
          bodys:bodys,
          apitype:this.apitype,
          judegType:this.judegType,
          judegCondition:this.judegCondition,
          jsonValue:this.jsonValue,
          needComparedValue:this.comparedValue,
          msg:this.msgValue,
          originalJson:this.originalJson,
          jsonSchema:this.jsonSchema,
          needSaveData:this.needSaveData,
          extractDataList:this.extractDataList
        }
        console.log("setpData",setpData)
        this.$api.testcase.EditApiStepName(setpData).then(res => {
          if (res.data.code == 1){
            this.apiInfoData.label = res.data.nodeName
          }
          else{
            this.$message({ type: "warn", message: res.data.message });
          }
        })
      }
      else{
        this.$message({ type: "warn", message: "出错了,请刷新页面" });
      }
      this.apiSetpInfoVisible = false
    },

    CloseStepDialog(){
      // 关闭页面事件
      // this.this.apiInfoData = {};
      this.setpName="";
      this.urldetail = "";
      this.headers = [{hkey:"", value: "" }];
      this.bodys = [{hkey:"", value: "" }];
      this.apitype = "get";
      this.judegType="";
      this.jsonValue="";
      this.comparedValue="";
      this.msgValue="";
      this.judegCondition = "";
      this.ownerHeader = false;
      this.originalJson = "";
      this.jsonSchema = "";
      this.needSaveData = false;
      this.extractDataList = [{"callName":"","saveDataPath":""}]
    },

    
    EditTestCaseModelName(data) {
      this.$prompt("请输入名称", "编辑功能点名称", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValue: data.label
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let apidata = {
            type: 2,
            scriptName: value,
            modelId: data.id
          };
          this.$api.testcase.EditModelName(apidata).then(res => {
            if (res.data.code == 1) {
              data.label = res.data.nodeName;
            } else {
              this.$message({ type: "warn", message: res.data.message });
            }
          });
        } else {
          this.$message({ type: "info", message: "不能为空" });
        }
      });
    },

    DeleteModelFunc(node,data){
      let apidata={
        type:1,
        tcid: this.tcid,
        delId:data.id,
      };
      this.$api.testcase.DelSetpInfo(apidata).then(res =>{
        if (res.data.code == 1) {
            const parent = node.parent;
            const children = parent.data.children || parent.data;
            const index = children.findIndex(d => d.id === data.id);
            children.splice(index, 1);
        } else {
          this.$message({ type: "warn", message: res.data.message });
        }
      })
    },

    GlobalHeader(){
      // 打开一个设置弹窗
      let data = {
        type : 1,
        tcid : this.tcid
      }
      this.$api.testcase.GlobalHeaderSetting(data).then(res=>{
        if(res.data.code == 1 && res.data.headers != "")
        {
          var headers = new Array();
          for (var i in res.data.headers){
            var dict = {}
            dict["hkey"] = i
            dict["value"] = res.data.headers[i]
            headers.push(dict)
          }
          this.globalheaders = headers
        }
      })
      this.headersVisible = true
    },

    GlobalHeaderSubmit(){
      var headers = {}
      for(var i = 0;i<this.globalheaders.length;i++)
      {
        var key = this.globalheaders[i].hkey;
        var value = this.globalheaders[i].value;
        headers[key] = value;
      };
      let data = {
        type : 2,
        tcid : this.tcid,
        headers : headers
      }
      this.$api.testcase.GlobalHeaderSetting(data).then(res=>{
        if(res.data.code == 1)
        {
          this.$message({ type: "success", message: "成功" });
        }
        else{
          this.$message({ type: "warn", message: res.data.message });
        }
      })
      this.headersVisible = false
    },

    CloseHeaderDialog(){
      this.globalheaders = [{hkey:"", value: "" }]
    },

    GlobalVar(){
      let data = {
        type : 1,
        tcid : this.tcid
      }
      this.$api.testcase.GlobalVarSetting(data).then(res=>{
        if(res.data.code == 1 && res.data.globalVar != "")
        {
          var vars = new Array();
          for (var i in res.data.globalVar){
            var dict = {}
            dict["hkey"] = i
            dict["value"] = res.data.globalVar[i]
            vars.push(dict)
          }
          this.globalVars = vars
        }
      })
      this.varsVisible = true
    },

    GlobalVarsSubmit(){
      var vars = {}
      for(var i = 0;i<this.globalVars.length;i++)
      {
        var key = this.globalVars[i].hkey;
        var value = this.globalVars[i].value;
        vars[key] = value;
      };
      let data = {
        type : 2,
        tcid : this.tcid,
        headers : vars 
      }
      this.$api.testcase.GlobalVarSetting(data).then(res=>{
        if(res.data.code == 1)
        {
          this.$message({ type: "success", message: "成功"  });
        }
        else{
          this.$message({ type: "warn", message: res.data.message });
        }
      })
      this.varsVisible = false
    },

    CloseVarsDialog(){
      this.globalVars = [{hkey:"", value: "" }]
    },


    AddGlobalHeader() {
      this.globalheaders.push({
        hkey: "",
        value: "",
        key: Date.now()
      });
    },

    RemovGlobaleHeader(item) {
      var index = this.globalheaders.indexOf(item);
      if (index !== -1) {
        this.globalheaders.splice(index, 1);
      }
    },

    AddGlobalVar() {
      this.globalVars.push({
        hkey: "",
        value: "",
        key: Date.now()
      });
    },

    RemovGlobaleVar(item) {
      var index = this.globalVars.indexOf(item);
      if (index !== -1) {
        this.globalVars.splice(index, 1);
      }
    },
    
    AddHeader() {
      this.headers.push({
        hkey: "",
        value: "",
        key: Date.now()
      });
    },

    RemoveHeader(item) {
      var index = this.headers.indexOf(item);
      if (index !== -1) {
        this.headers.splice(index, 1);
      }
    },

    AddBody() {
      this.bodys.push({
        bkey: "",
        value: "",
        key: Date.now()
      });
    },

    RemoveBody(item) {
      var index = this.bodys.indexOf(item);
      if (index !== -1) {
        this.bodys.splice(index, 1);
      }
    },

    AddExtractDataList(){
      this.extractDataList.push({
        callName:"",
        saveDataPath:"",
        key: Date.now()
      })
    },

    RemoveExtractDataList(item){
      var index = this.extractDataList.indexOf(item);
      if(index != -1){
        this.extractDataList.splice(index,1)
      }
    },

    DebugApi(data){
      this.debugForm = true
      this.env = "";
      this.envHost = "";
      this.tcmnid = data.id
      this.debugResult = "";
      this.debugData = {};
    },

    DebugApiSubmit(){
      
      let apidata={
        depth:3,
        tcsid:this.tcmnid,
        env:this.envHost,
      };
      this.$api.testcase.DebugApiInfo(apidata).then(res => {
        const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
        setTimeout(() => {
          loading.close();
        }, 500);
        this.debugResult = res.data.msg;
        this.debugData = res.data.json
        // this.debugData =this.formatJson(res.data.json); 

      })
    },

    EditApiSetpInfo(data){
      
      this.openSource = 2;
      this.apiInfoData = data;
      // GetSetpCaseInfo
      let setpData = {

        tcid: this.tcid,
        tcsid : data.id
      };
      this.$api.testcase.GetSetpCaseInfo(setpData).then(res =>{
        // 转化回VUE支持的格式
        if (res.data.code == 1){
          var headers = new Array();
          for(var key in res.data.caseInfo.headers){
            var dict = {}
            dict["hkey"] = key
            dict["value"] = res.data.caseInfo.headers[key]
            headers.push(dict)
          }
          var bodys = new Array();
          for(var key in res.data.caseInfo.bodys){
            var dict = {}
            dict["bkey"] = key
            dict["value"] = res.data.caseInfo.bodys[key]
            bodys.push(dict)
          }
          this.setpName = res.data.caseInfo.setpName,
          this.urldetail =  res.data.caseInfo.urlDetail,
          this.ownerHeader = res.data.caseInfo.ownerHeader || false
          this.headers= headers,
          this.bodys = bodys,
          this.apitype = res.data.caseInfo.apitype,
          this.judegType = res.data.caseInfo.judegType,
          this.judegCondition = res.data.caseInfo.judegCondition
          this.jsonValue = res.data.caseInfo.jsonValue,
          this.comparedValue = res.data.caseInfo.needComparedValue,
          this.originalJson = res.data.caseInfo.originalJson || ""
          this.jsonSchema = res.data.caseInfo.jsonSchema || ""
          this.msgValue = res.data.caseInfo.msg
          this.needSaveData = res.data.caseInfo.needSaveData || false
          this.apiSetpInfoVisible = true
          this.extractDataList = res.data.caseInfo.extractDataList  || [{"callName":"","saveDataPath":""}]
          
        }else{
          this.$message({ type: "warn", message: res.data.message });
        }
      })
    },


    DeleteSetpFunc(node,data){
      let apidata={
        type:2,
        tcid: this.tcid,
        delId:data.id,
      };
      this.$api.testcase.DelSetpInfo(apidata).then(res =>{
        if (res.data.code == 1) {
            const parent = node.parent;
            const children = parent.data.children || parent.data;
            const index = children.findIndex(d => d.id === data.id);
            children.splice(index, 1);
        } else {
          this.$message({ type: "warn", message: res.data.message });
        }
      })
    },

    handleDragStart(node, ev) {
      this.drag_nod_parent_id = node.parent.data.id
    },
    handleDrop(draggingNode, dropNode, dropType, ev) {
      let data = {
        tcid : this.tcid,
        currentId : draggingNode.data.id,
        exchangeId : dropNode.data.id,
        dropType : dropType
      }
      this.$api.testcase.ChangePosition(data).then(res => {
        if (res.data.code !== 1) {
          // 不成功就还原，没找到方法处理
          this.$message({ type: "warn", message: res.data.message });
        }
      })
    },
    allowDrop(draggingNode, dropNode, type) {
      if (dropNode.level===2){
        return false
      }
      if (dropNode.parent.data.id === this.drag_nod_parent_id)
      {
        if (type !== "inner")
        {
          return true
        }
      }
      return false
    },
    allowDrag(draggingNode) {
      if (draggingNode.level==3){
        return true
      }
      else{
        return false
      }
    },

    renderContent(h, { node, data, store }) {
      if (node.level == 1) {
        return (
          <span class="custom-tree-node">
            <span>{node.label}</span>
            <span>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.RunTestCase(data)}
              >
                运行
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.AddTestCaseName(data)}
              >
                新建项
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.EditTestCaseName(data)}
              >
                改名
              </el-button>
            </span>
          </span>
        );
      } else if (node.level == 2) {
        return (
          <span class="custom-tree-node">
            <span>{node.label}</span>
            <span>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.AddApiSetpInfo(data)}
              >
                新建项
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.EditTestCaseModelName(data)}
              >
                改名
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.DeleteModelFunc(node, data)}
              >
                删除
              </el-button>
            </span>
          </span>
        );
      } else if (node.level == 3) {
        return (
          <span class="custom-tree-node">
            <span>{node.label}</span>
            <span>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.DebugApi(data)}
              >
                调试
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.EditApiSetpInfo(data)}
              >
                编辑
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.DeleteSetpFunc(node, data)}
              >
                删除
              </el-button>
            </span>
          </span>
        );
      }
    },

    GetUrlParams(value){
      console.log("value",value)
      var paramsText = String(value).split("?")
      if (paramsText.length > 1 && paramsText.length == 2){
        let data = {
          param:paramsText[1]
        }
        this.bodys = []
        this.$api.testcase.GetUrlParams(data).then(res => {
          for(var key in res.data){
            var dict = {}
            dict["bkey"] = key
            dict["value"] = res.data[key]
            this.bodys.push(dict)
          }
        })
      }
      
    },

    OpreationRecord(){
      let data = {
        tcid:this.tcid
      }
      this.$api.testcase.GetRecordData(data).then(res => {
        if (res.data){
          this.recordData = res.data.data
        }
        else{
          this.recordData = [{
            user:"",
            content:"",
            time:""
          }]
        }
        this.popUpTable = true
      })
    }
    
  }
};
</script>



<style>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}

.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding-right: 8px;
}

.el-form {
  margin-top: 20px;
}




</style>

<style scoped>
.hbinfo {
  width: 300px;
  margin-left: 30px;
}

.extract {
  width: 50%;
  margin-top: 5px;
}
</style>