<template>
  <el-row>
    <el-col :span="24">
      <div class="panel panel-default">
        <div class="panel-heading">创建任务</div>
        <div class="panel-body">
          <el-form label-width="120px">
            <el-form-item label="任务名称">
              <el-input v-model="tname"></el-input>
            </el-form-item>
            <el-form-item label="所属项目">
              <el-select class="form-select" @change="ProjectChange" v-model="project" placeholder="请选择项目">
                <el-option
                  v-for="pro in projects"
                  :key="pro.pid"
                  :label="pro.pName"
                  :value="pro.pName"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="运行环境">
              <el-select class="form-select" v-model="env" placeholder="请选择环境">
                <el-option v-for="e in envs" :key="e.eid" :label="e.ehost" :value="e.ehost"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="运行脚本">
              <el-select class="form-select" v-model="testcase" placeholder="请选择脚本">
                <el-option
                  v-for="tc in testcases"
                  :key="tc.tcid"
                  :label="tc.sName"
                  :value="tc.sName"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="选择解密">
              <el-checkbox v-model="selectDecrypt">接口没有加密的数据不要勾选</el-checkbox>
            </el-form-item>
            <el-form-item label="选择定时周期">
              <el-select class="form-select" v-model="runcycle" placeholder="请选择周期">
                <el-option label="每天" value="meitian"></el-option>
                <!-- <el-option label="N天" value="Ntian"></el-option> -->
                <el-option label="每小时" value="meixiaoshi"></el-option>
                <el-option label="N小时" value="Nxiaoshi"></el-option>
                <el-option label="N分钟" value="Nfenzhong"></el-option>
                <!-- <el-option label="每月" value="meiyue"></el-option> -->
              </el-select>
            </el-form-item>
            <el-form-item label="执行时间">
              <div v-if="runcycle == 'meitian'">
                <el-input v-model="hour">
                  <template slot="append">小时</template>
                </el-input>
              </div>
              <div v-if="runcycle == 'meixiaoshi'">
                <el-input v-model="minute">
                  <template slot="append">分钟</template>
                </el-input>
              </div>
              <div v-if="runcycle == 'Nxiaoshi'">
                <el-input v-model="hour">
                  <template slot="append">小时</template>
                </el-input>
                <el-input v-model="minute">
                  <template slot="append">分钟</template>
                </el-input>
              </div>
              <div v-if="runcycle == 'Nfenzhong'">
                <el-input v-model="minute">
                  <template slot="append">分钟</template>
                </el-input>
              </div>
              <!-- <div v-if="runcycle == 'meiyue'">
                <el-input v-model="day">
                  <template slot="append">日</template>
                </el-input>
                <el-input v-model="hour">
                  <template slot="append">小时</template>
                </el-input>
                <el-input v-model="minute">
                  <template slot="append">分钟</template>
                </el-input> -->
              <!-- </div> -->
            </el-form-item>
            <el-form-item label="执行时间备注">
              <el-input v-model="tDateMask"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="CreatTask">立即创建</el-button>
              <el-button @click="ReturnBack">取消</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </el-col>
  </el-row>
</template>


<script>
export default {
  data() {
    return {
      tname: "",
      project: "",
      projects: [],
      env: "",
      envs: [],
      testcase: "",
      testcases: [],
      selectDecrypt:false,
      tDateMask: "",
      runcycle: "",
      allData: [],

      day:"",
      hour:"",
      minute:"",
    };
  },
  mounted() {
    this.$api.project.GetAllProject().then(res => {
      this.projects = res.data.projects;
    });
    this.$api.task.GetAllProjectData().then(res => {
      this.allData = res.data;
    });
  },
  methods: {
    ProjectChange(currentChioce) {
      this.envs = [];
      this.testcases = [];
      for (var i = 0; i < this.allData.length; i++) {
        for (var key in this.allData[i]) {
          if (key == currentChioce) {
            for (var infokey in this.allData[i][key]) {
              if (this.allData[i][key][infokey].hasOwnProperty("sName")) {
                this.testcases.push(this.allData[i][key][infokey]);
              } else {
                this.envs.push(this.allData[i][key][infokey]);
              }
            }
          }
        }
      }
    },


    CreatTask() {
        var dateDict = {}
        dateDict["runcycle"] = this.runcycle
        if (this.runcycle == "meitian")
        {
            dateDict["hour"] = this.hour
        }else if(this.runcycle == "meixiaoshi"){
            dateDict["minute"] = this.minute
        }
        else if(this.runcycle == "Nxiaoshi"){
            dateDict["hour"] = this.hour
            dateDict["minute"] = this.minute
        }
        else if(this.runcycle == "Nfenzhong"){
            dateDict["minute"] = this.minute
        }
        // else if(this.runcycle == "meiyue"){
        //     dateDict["day"] = this.day
        //     dateDict["hour"] = this.hour
        //     dateDict["minute"] = this.minute
        // }
        console.log("date",dateDict)
        let data = {
            taskName : this.tname,
            pName : this.project,
            host : this.env,
            testcase : this.testcase,
            selectDecrypt:this.selectDecrypt,
            tDate : dateDict,
            tDateMask : this.tDateMask
        }
        console.log("data",data)
        this.$api.task.AddTask(data).then(res => {
            if (res.data.code == 1){
                this.$router.push({path:'/task'})
            }
            else{
                this.$message({ type: "warn", message: res.data.message });
            }
        })
    },
    ReturnBack(){
      this.$router.push("/task")
    }

  }
};
</script>

<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
}

.panel-heading {
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}

.panel-body {
  margin-top: 20px;
  padding: 0 25% 0 15%;
  background-color: #fff;
}

.form-select {
  width: 100%;
}
</style>