<template>
  <el-row>
    <el-col :span="24">
      <div class="panel panel-default">
        <div class="panel-heading">创建任务</div>
        <div class="panel-body">
          <el-form label-width="120px">
            <el-form-item label="任务名称">
              <el-input v-model="tname"></el-input>
            </el-form-item>
            <el-form-item label="所属项目">
              <el-input disabled v-model="project"></el-input>
            </el-form-item>
            <el-form-item label="运行环境">
              <el-select class="form-select" v-model="env" placeholder="请选择环境">
                <el-option v-for="e in envs" :key="e.eid" :label="e.eHost" :value="e.eHost"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="运行脚本">
              <el-input disabled v-model="sname"></el-input>
            </el-form-item>
            <el-form-item label="选择解密">
              <el-checkbox v-model="selectDecrypt">接口没有加密的数据不要勾选</el-checkbox>
            </el-form-item>
            <el-form-item label="选择定时周期">
              <el-select class="form-select" v-model="runcycle" placeholder="请选择周期">
                <el-option label="每天" value="meitian"></el-option>
                <el-option label="每小时" value="meixiaoshi"></el-option>
                <el-option label="N小时" value="Nxiaoshi"></el-option>
                <el-option label="N分钟" value="Nfenzhong"></el-option>
                <!-- <el-option label="每月" value="meiyue"></el-option> -->
              </el-select>
            </el-form-item>
            <el-form-item label="执行时间">
              <div v-if="runcycle == 'meitian'">
                <el-input v-model="hour">
                  <template slot="append">小时</template>
                </el-input>
              </div>
              <div v-if="runcycle == 'meixiaoshi'">
                <el-input v-model="minute">
                  <template slot="append">分钟</template>
                </el-input>
              </div>
              <div v-if="runcycle == 'Nxiaoshi'">
                <el-input v-model="hour">
                  <template slot="append">小时</template>
                </el-input>
                <el-input v-model="minute">
                  <template slot="append">分钟</template>
                </el-input>
              </div>
              <div v-if="runcycle == 'Nfenzhong'">
                <el-input v-model="minute">
                  <template slot="append">分钟</template>
                </el-input>
              </div>
              <!-- <div v-if="runcycle == 'meiyue'">
                <el-input v-model="day">
                  <template slot="append">日</template>
                </el-input>
                <el-input v-model="hour">
                  <template slot="append">小时</template>
                </el-input>
                <el-input v-model="minute">
                  <template slot="append">分钟</template>
                </el-input> -->
              <!-- </div> -->
            </el-form-item>
            <el-form-item label="执行时间备注">
              <el-input v-model="tDateMask"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="EditSubmit()">确定</el-button>
              <el-button @click="ReturnBack">取消</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </el-col>
  </el-row>
</template>


<script>
export default {
    data(){
      return {
        data:[],
        tname : "",
        project : "",
        envs : [],
        env :"",
        sname:"",
        selectDecrypt:false,
        runcycle:"",
        tDateMask:"",
        minute:"",
        hour:"",
        day:"",
      }
    },
    mounted(){
      this.data=this.$route.query.data
      this.project = this.data.pName
      this.tname = this.data.tName
      this.sname = this.data.sName
      this.tDateMask = this.data.tDateMask
      this.selectDecrypt = this.data.selectDecrypt
      let params = {
        'pName':this.project,
      }
      this.$api.task.GetProjectEnvs(params).then(res=>{
        this.envs = res.data
      })
    },
  methods:{
    EditSubmit(){
      var dateDict = {}
        dateDict["runcycle"] = this.runcycle
        if (this.runcycle == "meitian")
        {
            dateDict["hour"] = this.hour
        }else if(this.runcycle == "meixiaoshi"){
            dateDict["minute"] = this.minute
        }
        else if(this.runcycle == "Nxiaoshi"){
            dateDict["hour"] = this.hour
            dateDict["minute"] = this.minute
        }
        else if(this.runcycle == "Nfenzhong"){
            dateDict["minute"] = this.minute
        }
        // else if(this.runcycle == "meiyue"){
        //     dateDict["day"] = this.day
        //     dateDict["hour"] = this.hour
        //     dateDict["minute"] = this.minute
        // }
        console.log("date",dateDict)
        let data = {
            tid:this.data.tid,
            taskName : this.tname,
            host : this.env,
            tDate : dateDict,
            tDateMask : this.tDateMask,
            selectDecrypt : this.selectDecrypt
        }
        console.log("data",data)
        this.$api.task.TaskEdit(data).then(res => {
            if (res.data.code == 1){
                this.$router.push({path:'/task'})
            }
            else{
                this.$message({ type: "warn", message: res.data.message });
            }
        })
    },
    ReturnBack(){
      this.$router.push("/task")
    }
  }
};
</script>


<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
}

.panel-heading {
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}

.panel-body {
  margin-top: 20px;
  padding: 0 25% 0 15%;
  background-color: #fff;
}

.form-select {
  width: 100%;
}
</style>