<template>
  <el-row>
    <el-col :span="24">
      <el-form :inline="true" class="demo-form-inline" style="margin:0 0 -18px 0">
        <el-form-item label="项目" >
          <el-select v-model="form.project" @change="ProjectChange" placeholder="请选择">
            <el-option
              v-for="project in form.projects"
              :key="project.pid"
              :label="project.pName"
              :value="project.pName"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button @click="AddEvent()" type="success">添加环境</el-button>
        </el-form-item>
      </el-form>

      
      <div class="panel panel-default">
        <div class="panel-heading">环境列表</div>
        <div>
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{prop: 'createdate', order: 'descending'}"
          >
            <el-table-column prop="eid" label="ID" sortable width="60"></el-table-column>
            <el-table-column prop="eName" label="测试环境描述" width="180"></el-table-column>
            <el-table-column prop="eHost" label="测试环境地址" width="360"></el-table-column>
            <el-table-column prop="eCreator" label="创建人" width="90"></el-table-column>
            <el-table-column prop="creattime" label="	创建时间" sortable></el-table-column>
            <el-table-column prop="opreate" label="操作">
              <template slot-scope="eventinfo">
                <el-button type="primary" @click="EditEvent(eventinfo.row)">编辑</el-button>
                <el-button type="danger" @click="DelEvent(eventinfo.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>

      <el-pagination
        background
        layout="prev, pager, next"
        style="float:right"
        @current-change="CurrentChange"
        :total="tableCount"
      ></el-pagination>

      <el-dialog title="环境" :visible.sync="dialogFormVisible">
        <el-form :model="form">
          <el-form-item label="项目：" :label-width="formLabelWidth">
            <el-select :disabled="isEdit" v-model="form.project" placeholder="请选择项目">
              <el-option
                v-for="project in form.projects"
                :key="project.pid"
                :label="project.pName"
                :value="project.pName"
              ></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="测试环境url：" :label-width="formLabelWidth">
            <el-input v-model="form.host" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="测试环境名字：" :label-width="formLabelWidth">
            <el-input v-model="form.name" auto-complete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="SubmitBtn()">确 定</el-button>
        </div>
      </el-dialog>
    </el-col>
  </el-row>
</template>


<script>
export default {
  inject: ["reload"],
  data() {
    return {
      // openSource:1新增，2修改
      openSource: 0,
      tableData: [],
      tableCount: 0,
      dialogFormVisible: false,
      isEdit: false,
      form: {
        eid: "",
        name: "",
        host: "",
        project: "",
        projects: []
      },
      formLabelWidth: "120px"
    };
  },
  mounted() {
    this.$api.project.GetAllProject().then(res => {
      this.form.projects = res.data.projects;
      if (this.form.projects.length > 0) {
        this.form.project = this.form.projects[0]["pName"];
        // TODO 调用接口获取第一个项目的值赋值显示
        let data = {
          pName: this.form.project,
          page: 1
        };
        this.$api.event.GetEvents(data).then(res => {
          // console.log(res)
          this.tableData = res.data.envs;
          this.tableCount = res.data.count;
        });
      }
    });
  },
  methods: {
    AddEvent() {
      (this.openSource = 1), (this.form.host = "");
      this.form.name = "";
      this.form.eid = "";
      this.dialogFormVisible = true;
      this.isEdit = false;
    },
    EditEvent(row) {
      (this.openSource = 2), (this.dialogFormVisible = true);
      this.form.host = row.eHost;
      this.form.name = row.eName;
      this.form.eid = row.eid;
      this.isEdit = true;
    },
    SubmitBtn() {
      if (this.openSource == 1) {
        this.openSource == 0;
        this.dialogFormVisible = false;
        let data = {
          eProject: this.form.project,
          eHost: this.form.host,
          eName: this.form.name
        };
        this.$api.event.AddEvents(data).then(res => {
          if (res.data.code == 1) {
            let data = {
              pName: this.form.project,
              page: 1
            };
            this.$api.event.GetEvents(data).then(res =>{
              this.tableData = res.data.envs;
              this.tableCount = res.data.count;
            })
          } else {
            this.$message({ type: "warn", message: res.data.message });
          }
        });
      } else if (this.openSource == 2) {
        this.openSource == 0;
        this.dialogFormVisible = false;
        let data = {
          eid: this.form.eid,
          eHost: this.form.host,
          eName: this.form.name
        };
        this.$api.event.EditEvents(data).then(res => {
          if (res.data.code == 1) {
            let data = {
              pName: this.form.project,
              page: 1
            };
            this.$api.event.GetEvents(data).then(res => {
              // console.log(res)
              this.tableData = res.data.envs;
              this.tableCount = res.data.count;
            });
          } else {
            this.$message({ type: "warn", message: res.data.message });
          }
        });
      }
    },
    DelEvent(row) {
      this.$confirm("此操作将会删除项目, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let data = {
            eid: row.eid
          };
          this.$api.event.DeleteEvents(data).then(res => {
            let data = {
              pName: this.form.project,
              page: 1
            };
            this.$api.event.GetEvents(data).then(res => {
              // console.log(res)
              this.tableData = res.data.envs;
              this.tableCount = res.data.count;
            });
            this.$message({
              type: "success",
              message: "删除成功!"
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

    CurrentChange(currentPage) {
      let data = {
        pName: this.form.project,
        page: currentPage
      };
      this.$api.event.GetEvents(data).then(res => {
        this.tableData = res.data.envs;
        this.tableCount = res.data.count;
      });
    },

    ProjectChange(currentChioce) {
      this.form.project = currentChioce;
      let data = {
        pName: currentChioce,
        page: 1
      };
      this.$api.event.GetEvents(data).then(res => {
        this.tableData = res.data.envs;
        this.tableCount = res.data.count;
      });
    }
  }
};
</script>

<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}
</style>
