<template>
  <el-row>
    <el-col :span="24">
      <div class="grid-content bg-purple-dark">
        <div id="main2" style="width: 600px;height:400px;"></div>
      </div>
      <el-steps :active="1" align-center>
        <el-step title="步骤 1" description="必须先创建项目,项目和环境以及脚本挂钩"></el-step>
        <el-step title="步骤 2" status="process" description="创建项目后选择创建环境，一个项目下可以有多个环境"></el-step>
        <el-step title="步骤 3" status="process" description="脚本和项目时唯一对应关系，脚本和环境是多对多的关系"></el-step>
      </el-steps>
      <el-collapse v-model="activeNames">
        <el-collapse-item title="测试用例说明" name="1">
          <div>点击测试用例，打开用例页，点击添加按钮，注：添加测试用例前必须先创建项目</div>
          <div>进入创建页后填完全部选项，跳转到对应的脚本类型页面</div>
        </el-collapse-item>
        <el-collapse-item title="API类型" name="2">
          <el-divider content-position="left">添加测试模块</el-divider>
          <div>所有实际的测试用例都在对应的测试模块下面</div>
          <div>使用内置方法$function()</div>
          <div>使用接口返回的json数据,需要先保存,然后{keyword}</div>
          <div>内置方法详情请看（连接待定）</div>
          <div>使用JSON类型传参建议配置全局header,当没有全局headers时,因为默认是使用data类型传参,json类型传参必须要每个配置项都配置Content-Type: application/json</div>
          <div>选择JSON SCHEMA验证,强烈建议，把用接口调试回来的数据在在线网站转换获取到schema，infer schema</div>
          <div>通过各种接口调试工具拿到接口的json值,打开https://jsonschema.net/,把json黏贴到json位置上，点击infer schema按钮</div>
          <div>右边出来结果后,点击右上角第二个按钮copy值</div>
          <div>在编辑API步骤信息时,先选择json验证,然后把json和schema的值黏贴到对应的显示框上</div>
        </el-collapse-item>
        <el-collapse-item title="UI类型" name="3">
          <div>UI类型和API类型类似，但是没有内置方法</div>
        </el-collapse-item>
        <el-collapse-item title="脚本类型" name="4">
          <div>脚本类型只是提供一个可供运行的容器,调用类型一定需要按照simple样例里面的引用来,否则会调用失败</div>
          <div>创建脚本类型代码时一定要输入正确的运行主文件文字,否则会调用失败</div>
        </el-collapse-item>
      </el-collapse>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      vdata: [],
      pdata: [],
      activeNames: ['1']
    };
  },
  mounted() {
    this.$api.webindex.getIndexPageData().then(res => {
      if (res.data["code"] == 1) {
        this.vdata = res.data["projects"];
        this.pdata = res.data["scriptNum"];
        this.pieEchart();
      }
    });
  },
  methods: {
    pieEchart() {
      var echarts = require("echarts");
      var myChart2 = echarts.init(document.getElementById("main2"));
      myChart2.setOption({
        tooltip: {
          trigger: "item",
          formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
          orient: "vertical",
          x: "left",
          vdata: this.vdata
        },
        series: [
          {
            name: "用例数量",
            type: "pie",
            radius: ["50%", "70%"],
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: false,
                position: "center"
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: "30",
                  fontWeight: "bold"
                }
              }
            },
            labelLine: {
              normal: {
                show: false
              }
            },
            data: this.pdata
          }
        ]
      });
    }
  }
};
</script>
<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
  display: flex;
}
</style>
