<template>
  <div id="particles-js">
    <div class="login">
      <div class="login-top">登录</div>
      <div class="login-center clearfix">
        <el-form ref="form" label-width="80px">
          <el-form-item label="账号">
            <el-input v-model="username"></el-input>
          </el-form-item>
          <el-form-item label="密码">
            <el-input v-model="password" type="password"></el-input>
          </el-form-item>

          <el-button class="loginbtn" type="primary" @click="clickc()">提交</el-button>
        </el-form>
      </div>
    </div> 
    <div class="sk-rotating-plane"></div>
  </div>
</template>

<script>
  export default{
    
    name: "login",
    data() {
      return{
        username:"",
        password:"",
        isCheck:false
      }
    },
    methods:{
      clickc(){
        let data = {
          userAccount:this.username,
          password:this.password,
          isCheck:this.isCheck
        }
        this.$api.login.login(data).then(res=>{
          console.log(res)
          if (res.data["code"]==0)
          {
            localStorage.setItem('userData', JSON.stringify(res.data['userInfo']))
            console.log("this.$route.query.redirect",this.$route.query.redirect)
            this.$router.push(this.$route.query.redirect || '/index')
            // this.$router.push('/index')
          }
          else
          {
            this.$message({
              message: res.data["message"],
              type: 'warning'
            });
          }
        })
        const loading = this.$loading({
          lock: true,
          text: 'Loading',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        });
        setTimeout(() => {
          loading.close();
        }, 1000);
      }
    }
  }
</script>

<style>
@import "../assets/static/css/style.css";
@import "../assets/static/css/reset.css";
</style>


<style scoped>

.loginbtn{
  margin-top:30px;
  margin-left:38%;
}

</style>






