<template>
  <el-row>
    <el-col :span="24">
      <el-button @click="AddProject()" type="success">添加项目</el-button>
      <div class="panel panel-default">
        <div class="panel-heading">项目列表</div>
        <div>
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{prop: 'creatTime', order: 'descending'}"
          >
            <el-table-column prop="pid" label="ID" sortable width="60"></el-table-column>
            <el-table-column prop="pName" label="项目名称" width="180"></el-table-column>
            <el-table-column prop="uName" label="创建者" width="180"></el-table-column>
            <el-table-column prop="creatTime" label="创建时间" sortable></el-table-column>
            <el-table-column prop="opreate" label="操作">
              <template slot-scope="projectinfo">
                <el-button type="primary" @click="EditProject(projectinfo.row)">编辑</el-button>
                <el-button type="danger" @click="DelProject(projectinfo.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </el-col>
  </el-row>
</template>


<script>
export default {
  data() {
    return {
      tableData: []
    };
  },
  mounted() {
    this.$api.project.GetAllProject().then(res => {
      this.tableData = res.data.projects
    });
  },
  methods: {
    AddProject() {
      this.$prompt("请输入项目名称", "新建项目", {
        confirmButtonText: "确定",
        cancelButtonText: "取消"
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let data = {
            pName: value
          };
          this.$api.project.AddProject(data).then(res => {
            this.$api.project.GetAllProject().then(res => {
              this.tableData = res.data.projects
            });
          });
        } else {
          this.$message({ type: "info", message: "不能为空" });
        }
      });
    },
    EditProject(row) {
      this.$prompt("请输入项目名称", "编辑项目", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValue: row.pName
        // 控制输入字符，不做
        // inputPattern: /a/,
        // inputErrorMessage: '邮箱格式不正确'
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let data = {
            pid: row.pid,
            pName: value
          };
          this.$api.project.EditProject(data).then(res => {
            this.$api.project.GetAllProject().then(res => {
              this.tableData = res.data.projects
            });
          });
        } else {
          this.$message({
            type: "info",
            message: "不能为空且不能和之前的项目命名一样"
          });
        }
      });
    },
    DelProject(row) {
      this.$confirm("此操作将会删除项目, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
            let data = {
                pid: row.id
            };
            this.$api.project.DeleteProject(data).then(res => {
                this.$api.project.GetAllProject().then(res => {
                  this.tableData = res.data.projects
                });
                this.$message({
                    type: "success",
                    message: "删除成功!"
                });
            });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  }
};
</script>

<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}


.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}
</style>
