<template>
  <el-row>
    <el-col :span="24">
      <el-button @click="BackPage()" type="success">返 回</el-button>
      <div class="panel panel-default">
        <div class="panel-heading">{{title}}测试报告详情</div>
        <div>
          <el-table :data="tableData" border style="width: 100%" :span-method="objectSpanMethod">
            <el-table-column prop="className" label="Test Group/Test case"></el-table-column>
            <el-table-column label="CaseInfo">
              
              <el-table-column prop="caseName" label="名称"></el-table-column>
              <el-table-column prop="caseDescribe" label="状态">
              </el-table-column>
              <el-table-column label="详细信息">
                <template slot-scope="props">
                <el-collapse v-model="isCollapse">
                  <el-collapse-item :name="props.row.caseName">
                    <template slot="title">点击展开查看详细信息
                     <i class="header-icon el-icon-warning" v-if="props.row.caseStatus == 2"></i>
                     <i class="header-icon el-icon-success" v-if="props.row.caseStatus == 1"></i>
                     <i class="header-icon el-icon-error" v-if="props.row.caseStatus == 3"></i>
                    </template>
                    <div>{{ props.row.caseInfo }}</div>
                  </el-collapse-item>
                </el-collapse>
                </template>
              </el-table-column>
            </el-table-column>
          </el-table>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      tableData: [],
      data:"",
      title:"",
      isCollapse:["ERROR","FAIL"],
      spanArr : [],
      pos : 0
    };
  },
  mounted() {
    // this.data=this.$route.query.data
    this.data = JSON.parse(sessionStorage.getItem("reportData"))
    this.title = this.data.scriptName
    let data={
        rid:this.data.rid
    }
    this.$api.report.GetReportDetail(data).then(res => {
      this.tableData = res.data;
      this.getSpanArr(this.tableData)
    });
  },
  methods: {
    BackPage(){
      this.$router.back(-1)
    },
    /* data就是我们从后台拿到的数据，通常是一个数组；spanArr是一个空的数组，
    用于存放每一行记录的合并数；pos是spanArr的索引。上述代码意思是：
    如果是第一条记录（索引为０），向数组中加入１，并设置索引位置；
    如果不是第一条记录，则判断它与前一条记录是否相等，
    如果相等，则向spanArr中添入元素０，并将前一位元素＋１，表示合并行数＋１，以此往复，
    得到所有行的合并数，０即表示该行不显示。
--------------------- 
        作者：KnifeBlade 
        来源：CSDN 
        原文：https://blog.csdn.net/qq_29468573/article/details/80742646 
        版权声明：本文为博主原创文章，转载请附上博文链接！ */
    getSpanArr(data){
      console.log(data)
      for (var i = 0;i<data.length;i++){
        if (i===0){
          this.spanArr.push(1);
          this.pos = 0
        }else{
          if (data[i].className === data[i-1].className){
            this.spanArr[this.pos] += 1;
            this.spanArr.push(0);
          }else{
            this.spanArr.push(1);
            this.pos = i
          }
        }
      }
      console.log("spanarr",this.spanArr)
    },
    objectSpanMethod({ row, column, rowIndex, columnIndex }){
      // 合并行
      if (columnIndex === 0){
        const _row = this.spanArr[rowIndex];
        const _col = _row > 0 ? 1 : 0;
        return {
          rowspan: _row,
          colspan: _col
        }
      }
    }
  }
};
</script>



<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}
</style>
