<template>
    <el-row>
    <el-col :span="24">
      <el-form :inline="true" class="demo-form-inline" style="margin:0 0 -18px 0">
          <el-form-item label="项目" >
      <el-select v-model="project" @change="ProjectChange" placeholder="请选择">
        <el-option
          v-for="p in projects"
          :key="p.pid"
          :label="p.pName"
          :value="p.pName"
        ></el-option>
      </el-select>
      </el-form-item>
      <el-form-item>
      <el-button @click="AddTaskPage()" type="success">创建任务</el-button>
      </el-form-item>
      </el-form>
      <div class="panel panel-default">
        <div class="panel-heading">环境列表</div>
        <div>
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{prop: 'create_time', order: 'descending'}"
          >
            <el-table-column prop="tid" label="ID" sortable width="60"></el-table-column>
            <el-table-column prop="tName" label="任务名称" width="180"></el-table-column>
            <el-table-column prop="pName" label="任务所属项目" width="180"></el-table-column>
            <el-table-column prop="sName" label="任务脚本名" width="180"></el-table-column>
            <el-table-column prop="tDate" label="任务执行时间" width="180"></el-table-column>
            <el-table-column prop="tDateMask" label="任务执行时间备注" width="180"></el-table-column>
            <el-table-column prop="create_time" label="创建时间" width="180" sortable></el-table-column>
            <el-table-column prop="tCreateName" label="创建者" width="90"></el-table-column>
            <el-table-column prop="opreate" label="操作">
              <template slot-scope="taskinfo">
                <el-button type="primary" @click="TaskOpreat(taskinfo.row)" v-if="taskinfo.row.tCurrentStatus == 0">开始</el-button>
                <el-button type="primary" @click="TaskOpreat(taskinfo.row)" v-if="taskinfo.row.tCurrentStatus == 1">暂停</el-button>
                <el-button type="primary" @click="TaskOpreat(taskinfo.row)" v-if="taskinfo.row.tCurrentStatus == 2">恢复</el-button>
                <el-button type="primary" @click="EditTask(taskinfo.row)">编辑</el-button>
                <el-button type="danger" @click="DeleteTask(taskinfo.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>

      <el-pagination
        background
        layout="prev, pager, next"
        style="float:right"
        @current-change="CurrentChange"
        :total=tableCount>
      </el-pagination>
    </el-col>
  </el-row>
</template>

<script>
export default{
    data(){
        return {
            tableData : [],
            tableCount : 0,
            project: "",
            projects: [],
            statusMask:""
        }
    },
    mounted(){
        this.$api.project.GetAllProject().then(res => {
            this.projects = res.data.projects
            if(this.projects.length>0)
            {
                this.project = this.projects[0]['pName']
                // TODO 调用接口获取第一个项目的值赋值显示
                let data = {
                    'pName':this.project,
                    'page':1
                }
                this.$api.task.GetTaskList(data).then(res=>{
                    this.tableData = res.data.tasks
                    this.tableCount = res.data.count
                })

            }
        })
    },
    methods:{
        CurrentChange(currentPage){
            let data = {
                'pName':this.project,
                'page':currentPage
            }
            this.$api.task.GetTaskList(data).then(res=>{
                this.tableData = res.data.tasks
                this.tableCount = res.data.count

            })
        },

        ProjectChange(currentChioce){
            this.project = currentChioce
            // this.form.project = this.form.projects[0]['pName']
            let data = {
                'pName':currentChioce,
                'page':1
            }
            this.$api.task.GetTaskList(data).then(res=>{
                this.tableData = res.data.tasks
                this.tableCount = res.data.count
            })
        },

        AddTaskPage(){
            this.$router.push({path:'/creattask'})
        },

        TaskOpreat(row){
            // 开始任务
            let data = {
                tid : row.tid
            }
            this.$api.task.TaskOpreat(data).then(res => {
                if(res.data.code == 1){
                    row.tCurrentStatus = res.data.status
                    this.$message({ type: "success", message: res.data.message });
                }else {
                    this.$message({ type: "warn", message: res.data.message });
                }
            })
        },

        EditTask(row){
            this.$router.push({path:'/edittask',query:{data:row}})
        },

        DeleteTask(row){
            let data = {
                tid : row.tid
            }
            this.$api.task.DeleteTask(data).then(res => {
                if(res.data.code == 1){
                    let data = {
                        'pName':this.project,
                        'page':1
                    }
                    this.$api.task.GetTaskList(data).then(res=>{
                        this.tableData = res.data.tasks
                        this.tableCount = res.data.count
                    })
                    this.$message({ type: "success", message: res.data.message });
                }else {
                    this.$message({ type: "warn", message: res.data.message });
                }
            })
            
        }



    }

}
</script>


<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}


.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}
</style>