<template>
  <el-row>
    <el-col :span="24">
       <el-form :inline="true" class="demo-form-inline" style="margin:0 0 -18px 0">
         <el-form-item label="项目" >
      <el-select v-model="project" @change="ProjectChange" placeholder="请选择">
        <el-option v-for="pro in projects" :key="pro.pid" :label="pro.pName" :value="pro.pName"></el-option>
      </el-select>
      </el-form-item>
      <el-form-item label="用例 ">
      <el-select v-model="testcase" @change="TestCaseChange" placeholder="请选择">
        <el-option v-for="tc in testcases" :key="tc.tcid" :label="tc.sName" :value="tc.sName"></el-option>
      </el-select>
      </el-form-item>
      </el-form>
      <div class="panel panel-default">
        <div class="panel-heading">测试报告列表</div>
        <div>
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{prop: 'creatTime', order: 'descending'}"
          >
            <el-table-column prop="rid" label="ID" sortable width="60"></el-table-column>
            <el-table-column prop="scriptName" label="脚本名" width="180"></el-table-column>
            <el-table-column prop="creatTime" label="开始执行时间" width="180" sortable></el-table-column>
            <el-table-column prop="passNum" label="成功数" width="90"></el-table-column>
            <el-table-column prop="failNum" label="失败数" width="90" sortable></el-table-column>
            <el-table-column prop="errNum" label="错误数" width="90" sortable></el-table-column>
            <el-table-column prop="skipNum" label="跳过数" width="90" sortable></el-table-column>
            <el-table-column prop="suiteCount" label="总用例数" width="90"></el-table-column>
            <el-table-column prop="passPercen" label="通过率" width="90"></el-table-column>
            <el-table-column prop="failPercen" label="失败率" width="90"></el-table-column>
            <el-table-column prop="errPercen" label="错误率" width="90"></el-table-column>
            <el-table-column prop="skipPercen" label="跳过率" width="90"></el-table-column>
            <el-table-column prop="timeConsuming" label="耗时" width="90"></el-table-column>
            <el-table-column prop="opreate" label="操作">
              <template slot-scope="projectinfo">
                <el-button type="primary" @click="ReportDetail(projectinfo.row)">查看详情</el-button>
                <el-button type="danger" @click="DeleteDetail(projectinfo.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>

      <el-pagination
        background
        layout="prev, pager, next"
        style="float:right"
        @current-change="CurrentChange"
        :total="tableCount"
      ></el-pagination>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      tableData: [],
      projects: [],
      project: "",
      testcases: [],
      testcase: "",
      tableCount: 0,

      proandtc: []
    };
  },
  mounted() {
    this.$api.report.GetProjectAndTc().then(res => {
      this.projects = res.data.projects;
      this.proandtc = res.data;
      this.project = this.projects[0].pName;
      for (var i = 0; i < this.proandtc.scripts.length; i++) {
        if (this.proandtc.scripts[i].pName == this.projects[0].pName) {
          this.testcases.push(this.proandtc.scripts[i]);
        }
      }
      let data = {
        sName: this.testcases[0].sName
      };
      this.testcase = this.testcases[0].sName;
      this.$api.report.GetReportList(data).then(res => {
        this.tableData = res.data.reprotList;
        this.tableCount = res.data.count;
      });
    });
  },
  methods: {
    ReportDetail(row) {
      sessionStorage.setItem('reportData', JSON.stringify(row))
      this.$router.push('/reportdetail')
      // this.$router.push({path:'/reportdetail',query:{data:row}})
    },
    DeleteDetail(row) {
      let data = {
        rid: row.rid
      };
      this.$api.report.DeleteReport(data).then(res => {
        if (res.data.code == 1) {
          let data = {
            sName: this.testcase
          };
          this.$api.report.GetReportList(data).then(res => {
            this.tableData = res.data.reprotList;
            this.tableCount = res.data.count;
          });
          this.$message({
            type: "success",
            message: "删除成功!"
          });
        } else {
          this.$message({
            type: "warn",
            message: res.data.messgae
          });
        }
      });
    },
    CurrentChange(currentPage) {
      let data = {
        sName: this.testcase,
        page: currentPage
      };
      this.$api.report.GetReportList(data).then(res => {
        this.tableData = res.data.reprotList;
        this.tableCount = res.data.count;
      });
    },

    ProjectChange(currentChioce) {
      this.project = currentChioce;
      this.testcases = [];
      this.testcase = "";
      for (var i = 0; i < this.proandtc.scripts.length; i++) {
        if (this.proandtc.scripts[i].pName == currentChioce) {
          this.testcases.push(this.proandtc.scripts[i]);
        }
      }
    },

    TestCaseChange(currentChioce) {
      let data = {
        sName: currentChioce
      };
      this.testcase = currentChioce;
      this.$api.report.GetReportList(data).then(res => {
        this.tableData = res.data.reprotList;
        this.tableCount = res.data.count;
      });
    }
  }
};
</script>


<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}
</style>