<template>
  <el-row>
    <el-col :span="24">
      <el-form :inline="true" class="demo-form-inline" style="margin:0 0 -18px 0">
        <el-form-item label="项目">
          <el-select v-model="project" @change="ProjectChange" placeholder="请选择">
            <el-option v-for="pro in projects" :key="pro.pid" :label="pro.pName" :value="pro.pName"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button @click="AddScript()" type="success">添加脚本</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="success" @click="DownLoadSample">下载脚本样例</el-button>
        </el-form-item>
      </el-form>
      <div class="panel panel-default">
        <div class="panel-heading">环境列表</div>
        <div>
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{prop: 'createdate', order: 'descending'}"
          >
            <el-table-column prop="tcid" label="ID" sortable width="60"></el-table-column>
            <el-table-column prop="sName" label="脚本名" width="180"></el-table-column>
            <el-table-column prop="testtype" label="脚本类型" width="90"></el-table-column>
            <el-table-column prop="uName" label="创建者" width="90"></el-table-column>
            <el-table-column prop="createtime" label="创建时间" sortable></el-table-column>
            <el-table-column prop="opreate" label="操作">
              <template slot-scope="scriptinfo">
                <el-button type="primary" @click="RunTestCaseBtn(scriptinfo.row)">运行</el-button>
                <el-button type="primary" @click="EditTestCase(scriptinfo.row)">编辑</el-button>
                <el-button
                  type="primary"
                  v-if="['API','UI'].indexOf(scriptinfo.row.testtype)>=0"
                  @click="CopyAdd(scriptinfo.row.tcid)"
                >复制添加</el-button>
                <!-- <el-button type="primary" v-if="scriptinfo.row.testtype=='API'" @click="OpenDecryptSetting()">复制添加</el-button> -->
                <el-button type="danger" @click="DeleteTestCase(scriptinfo.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>

      <el-dialog
        :close-on-click-modal="false"
        title="运行条件"
        :visible.sync="dialogFormVisible"
        @close="CloseDialogFormVisible"
      >
        <el-form>
          <el-form-item label="环境" :label-width="formLabelWidth">
            <el-select @change="EnvsChange" v-model="env" placeholder="请选择测试环境">
              <el-option v-for="e in envs" :key="e.eid" :label="e.eName" :value="e.eName"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label :label-width="formLabelWidth">
            <el-input v-model="envHost" disabled autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="报文解密" v-if="isShowDecrypt" :label-width="formLabelWidth">
            <el-checkbox v-model="decrypt"></el-checkbox>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="OnSubmitRun()">确 定</el-button>
        </div>
      </el-dialog>

      <el-dialog
        :close-on-click-modal="false"
        title="解密设置"
        :visible.sync="decryptFormVisible"
        @close="CloseDecryptFormVisible"
      >
        <el-form>
          <el-form-item label="类型" :label-width="formLabelWidth">暂时只有一个模式，暂不支持勾选</el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="decryptFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="decryptFormVisible = false">确 定</el-button>
        </div>
      </el-dialog>

      <el-pagination
        background
        layout="prev, pager, next"
        style="float:right"
        @current-change="CurrentChange"
        :total="tableCount"
      ></el-pagination>
    </el-col>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      // openSource:1新增，2修改
      openSource: 0,
      tableData: [],
      tableCount: 0,
      dialogFormVisible: false,
      isEdit: false,
      project: "",
      projects: [],

      formLabelWidth: "120px",

      envs: [],
      env: "",
      envHost: "",
      decrypt: false,
      isShowDecrypt: false,

      decryptFormVisible: false,

      currentRunId: 0
    };
  },
  mounted() {
    this.$api.project.GetAllProject().then(res => {
      this.projects = res.data.projects;
      if (this.projects.length > 0) {
        this.project = this.projects[0]["pName"];
        // TODO 调用接口获取第一个项目的值赋值显示
        let data = {
          pName: this.project,
          page: 1
        };
        this.$api.testcase.GetTestCase(data).then(res => {
          // console.log(res)
          this.tableData = res.data.scripts;
          this.tableCount = res.data.count;
        });
      }
    });
  },
  methods: {
    // 添加项目页
    AddScript() {
      this.$router.push("/addcasepage");
    },
    // 切换页数
    CurrentChange(currentPage) {
      let data = {
        pName: this.project,
        page: currentPage
      };
      this.$api.testcase.GetTestCase(data).then(res => {
        this.tableData = res.data.scripts;
        this.tableCount = res.data.count;
      });
    },
    // 切换项目
    ProjectChange(currentChioce) {
      this.project = currentChioce;
      let data = {
        pName: currentChioce,
        page: 1
      };
      this.$api.testcase.GetTestCase(data).then(res => {
        this.tableData = res.data.scripts;
        this.tableCount = res.data.count;
      });
    },

    EnvsChange(currentChioce) {
      for (var i = 0; i < this.envs.length; i++) {
        if (this.envs[i].eName == currentChioce) {
          this.envHost = this.envs[i].eHost;
        }
      }
    },

    // 打开运行界面
    RunTestCaseBtn(row) {
      this.currentRunId = row.tcid;
      let params = {
        testId: row.tcid
      };
      this.$api.testcase.GetAllData(params).then(res => {
        this.envs = res.data;
      });
      if (row.testtype == "API") {
        this.isShowDecrypt = true;
      }
      this.dialogFormVisible = true;
    },

    OnSubmitRun() {
      this.dialogFormVisible = false;
      let data = {
        sid: this.currentRunId,
        env: this.envHost,
        decrypt: this.decrypt
      };
      this.$api.testcase.RunTest(data).then(res => {
        if (res.data.code == 1) {
          this.$message({ type: "success", message: res.data.message });
        } else {
          this.$message({ type: "warn", message: res.data.message });
        }
      });
    },

    // 关闭运行界面操作
    CloseDialogFormVisible() {
      this.isShowDecrypt = false;
      this.decrypt = false;
      this.env = "";
      this.envHost = "";
    },

    // 关闭解密设置页面
    CloseDecryptFormVisible() {},

    EditTestCase(row) {
      sessionStorage.setItem("tcid", JSON.stringify(row.tcid));
      if (row.testtype == "API") {
        this.$router.push({ path: "/apiinfo" });
      } else if (row.testtype == "CodeScript") {
        // 跳转到script脚本编辑页面
      } else if (row.testtype == "UI") {
        // 跳转到UI类型编辑页面
        this.$router.push({ path: "/uiinfo" });
      }
    },

    // 删除测试用例
    DeleteTestCase(row) {
      let data = {
        sid: row.tcid
      };
      this.$api.testcase.DeleteTestCase(data).then(res => {
        if (res.data.code == 1) {
          let data = {
            pName: this.project,
            page: 1
          };
          this.$api.testcase.GetTestCase(data).then(res => {
            // console.log(res)
            this.tableData = res.data.scripts;
            this.tableCount = res.data.count;
          });
          this.$message({ type: "success", message: res.data.message });
        } else {
          this.$message({ type: "warn", message: res.data.message });
        }
      });
    },

    // 下载script脚本样例
    DownLoadSample() {
      this.$api.testcase.DownLoadSample({ url: "1" }).then(res => {
        window.open(res.data.url);
      });
    },

    OpenDecryptSetting() {
      this.decryptFormVisible = true;
    },

    CopyAdd(tcid) {
      this.$prompt("请输入脚本名称", "复制脚本", {
        confirmButtonText: "确定",
        cancelButtonText: "取消"
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let data = {
            tcid:tcid,
            testCaseName: value
          };
          this.$api.testcase.CopyTestSuite(data).then(res => {
            if (res.data.code == 1){
              this.$message({type:"success",message:res.data.message})
              let data = {
                pName: this.project,
                page: 1
              };
              this.$api.testcase.GetTestCase(data).then(res => {
                this.tableData = res.data.scripts;
                this.tableCount = res.data.count;
              });
              
            }
            else{
              this.$message({type:"warn",message:res.data.message})
            }
          });
        } else {
          this.$message({ type: "info", message: "脚本名称不能为空" });
        }
      });
    }
  }
};
</script>


<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}
</style>
