<template>
  <el-row>
    <el-col :span="24">
      <el-form :inline="true" class="demo-form-inline" style="margin:0 0 -18px 0">
        <el-form-item>
          <el-button @click="OpreationRecord()" type="success">查看操作记录</el-button>
        </el-form-item>
      </el-form>
      <div class="panel panel-default">
        <div class="panel-heading">{{ title }}UI信息</div>
        <el-tree
          :data="uidata"
          node-key="id"
          default-expand-all
          :expand-on-click-node="false"
          :render-content="renderContent"
          @node-drag-start="handleDragStart"
          @node-drop="handleDrop"
          draggable
          :allow-drop="allowDrop"
          :allow-drag="allowDrag"
          :highlight-current="true"
        ></el-tree>
      </div>

      <el-dialog :close-on-click-modal="false" title="运行条件" :visible.sync="dialogFormVisible">
        <el-form>
          <el-form-item label="环境" :label-width="formLabelWidth">
            <el-select @change="EnvsChange" v-model="env" placeholder="请选择测试环境">
              <el-option v-for="e in envs" :key="e.eid" :label="e.eName" :value="e.eName"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label :label-width="formLabelWidth">
            <el-input v-model="envHost" disabled autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="OnSubmitRun()">确 定</el-button>
        </div>
      </el-dialog>

      <el-dialog width="70%"  :close-on-click-modal="false" :title="dialogTitle" :visible.sync="uiSetpInfoVisible" @close='CloseStepDialog'>
        <div class="panel-heading">UI信息</div>
        <el-form>
          <el-form-item label="步骤名" :label-width="formLabelWidth">
            <el-input v-model="setpName" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div class="panel-heading">操作步骤</div>
        <el-form :inline="true" class="demo-form-inline">
          <el-form-item v-for="sp in setpInfo" :key="sp.key">
            <el-input placeholder="描述" class="actiocc" v-model="sp.describe"></el-input>
            <el-select class="actiocc" v-model="sp.action" placeholder="请选择操作的方法">
              <el-option v-for="act in actions" :key="act.value" :label="act.label" :value="act.label"></el-option>
            </el-select>
            <el-select v-if="['返回上一页','休眠'].indexOf(sp.action) < 0"  class="actiocc" v-model="sp.elementfunc" placeholder="请选择查找元素的方法">
              <el-option v-for="f in finds" :key="f.value" :label="f.label" :value="f.label"></el-option>
            </el-select>
            <el-input v-if="['返回上一页','休眠'].indexOf(sp.action) < 0"  class="actiocc" placeholder="查询参数" v-model="sp.searchValue"></el-input>
            <el-input v-if="['NAME','CSS','TAG','VALUE','TEXT'].indexOf(sp.elementfunc) >= 0 " class="actiocc" placeholder="选择要查找的元素,0开始" v-model="sp.elePosition"></el-input>
            <el-input v-if="['输入文字','休眠'].indexOf(sp.action) >= 0" class="actiocc" placeholder="输入参数" v-model="sp.fillText"></el-input> 
            <el-button v-if="GetIndexOf(sp)>0" type="primary" icon="el-icon-alicorner-right-up-outline" circle @click.prevent="AdjustOpreatStep(sp.key)"></el-button>
            <el-button type="primary" icon="el-icon-delete" circle @click.prevent="RemoveBody(sp)"></el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" icon="el-icon-circle-plus" @click="AddBody">添加</el-button>
          </el-form-item>
        </el-form>
        <div class="panel-heading">判断条件</div>
        <el-form>
          <el-form-item label="判断类型" :label-width="formLabelWidth">
            <el-select v-model="judegType" placeholder="请选择测试环境">
              <el-option v-for="j in judgeList" :key="j.id" :label="j.label" :value="j.label"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item v-if="['检查文本存在','检查文本不存在'].indexOf(judegType) == -1 " label="匹配方式" :label-width="formLabelWidth">
            <el-select v-model="matchInfo.matchMthod" placeholder="请选择查找元素的方法">
              <el-option v-for="f in finds" :key="f.value" :label="f.label" :value="f.label"></el-option>
            </el-select>
            <el-input class="actiocc" placeholder="匹配元素的值" v-model="matchInfo.matchValue"></el-input>
            <el-input v-if="['NAME','CSS','TAG','VALUE'].indexOf(matchInfo.matchMthod) >= 0 " class="actiocc" placeholder="选择要查找的元素,0开始" v-model="matchInfo.elementPostion"></el-input>
            <el-input v-if="['元素是否存在类名'].indexOf(judegType) >= 0 " class="actiocc" placeholder="元素类名" v-model="matchInfo.elementClass"></el-input>
          </el-form-item>
          <el-form-item label="期望值" :label-width="formLabelWidth">
            <div v-if="['元素是否可见','元素是否存在类名','检查元素是否存在'].indexOf(judegType) >= 0 ">
              <el-radio v-model="needComparedValue" label="True" border></el-radio>
              <el-radio v-model="needComparedValue" label="False" border></el-radio>
            </div>
            <el-input v-if="['检查文本存在','检查文本不存在','判断元素的值是否一致'].indexOf(judegType) >= 0 " v-model="needComparedValue" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="备注信息" :label-width="formLabelWidth">
            <el-input v-model="msgValue" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="uiSetpInfoVisible = false">取 消</el-button>
          <el-button type="primary" @click="DialogFormSubmit()">确 定</el-button>
        </div>
      </el-dialog>

      <el-drawer
        title="操作历史"
        :visible.sync="popUpTable"
        direction="rtl"
        size="30%">
        <el-table :data="recordData" height="800" style="width: 100%">
          <el-table-column property="user" label="操作者" width="90"></el-table-column>
          <el-table-column property="content" label="内容" width="200"></el-table-column>
          <el-table-column property="time" label="日期"></el-table-column>
        </el-table>
      </el-drawer>

    </el-col>
  </el-row>
</template>




<script>



export default {
  data() {
    return {
      title: "",
      uidata: [],
      dialogFormVisible: false,
      uiSetpInfoVisible: false,
      envs: [],
      env: "",
      envHost: "",
      formLabelWidth: "120px",
      runCaseData: "",
      
      setpName:"",
      actions : [
        {
          value: 'click',
          label: '点击'
        },
        {
          value: 'writetext',
          label: '输入文字'
        },
        // {
        //   value: 'clicklink',
        //   label: '点击连接'
        // },
        {
          value: 'mouse_over',
          label: '鼠标放在元素上方'
        },
        {
          value: 'mouse_out',
          label: '鼠标从元素中移出'
        },
        {
          value: 'double_click',
          label: '双击'
        },
        {
          value: 'right_click',
          label: '右键单击'
        },
        {
          value: 'backpage',
          label: '返回上一页'
        },
        {
          value: 'dealy',
          label: '休眠'
        }
      ],
      action : "",
      finds : [
        {
            value: 'id',
            label: 'ID'
          },
          {
            value: 'xpath',
            label: 'XPATH'
          },
          {
            value: 'tag',
            label: 'TAG'
          },
          {
            value: 'name',
            label: 'NAME'
          },
          {
            value: 'text',
            label: 'TEXT'
          },
          {
            value: 'css',
            label: 'CSS'
          },
          {
            value: 'value',
            label: 'VALUE'
          }
      ],
      find : "",


      setpInfo:[{describe:"",action:"", elementfunc: "",searchValue:"",elePosition:"",fillText:"",key: Date.now() }],
      judegType:"",
      
      judgeList:[
        {
          id:"0",
          value: 'elevalue',
          label: '判断元素的值是否一致'
        },
        {
          id:"1",
          value: 'ifvisible',
          label: '元素是否可见'
        },
        {
          id:"2",
          value: 'ifhas_class',
          label: '元素是否存在类名'
        },
        {
          id:"3",
          value: 'textpresen',
          label: '检查文本存在'
        },
        {
          id:"4",
          value: 'textnotpresen',
          label: '检查文本不存在'
        },
        {
          id:"5",
          value: 'elementispresent',
          label: '检查元素是否存在'
        }
      ],
      matchInfo :{matchMthod:"",elementPostion:"",matchValue:"",elementClass:""},
      msgValue:"",
      needComparedValue:"",
      // 打开添加步骤信息来源 1新增,2编辑
      openSource:0,
      dialogTitle:"添加测试步骤信息",

      tcid : 24,
      uiInfoData:{},

      tcmnid:0,

      drag_nod_parent_id : 0,

      recordData : [{user:"",content:"",time:""}],
      popUpTable : false
      
    };
  },
  mounted() {
    this.tcid = JSON.parse(sessionStorage.getItem("tcid"));
    let data = {
      id:this.tcid
    };
    this.$api.testcase.GetTreeJson(data).then(res => {
      this.uidata = res.data.data;
    });
    this.$api.testcase.GetTestCaseName(data).then(res => {
      this.title = res.data;
    });
    let params = {
      testId: data.id
    };
    this.$api.testcase.GetAllData(params).then(res => {
      this.envs = res.data;
    });
  },
  methods: {
    //运行测试用例
    RunTestCase(data) {
      this.env = "";
      this.envHost = "";
      this.dialogFormVisible = true;
    },

    // 点击确定按钮调用运行测试用例接口
    OnSubmitRun() {
      this.dialogFormVisible = false;
      let data = {
        sid: this.tcid,
        env: this.envHost,
        decrypt:false
      };
      this.$api.testcase.RunTest(data).then(res => {
        if (res.data.code == 1) {
          this.$message({ type: "success", message: res.data.message });
        } else {
          this.$message({ type: "warn", message: res.data.message });
        }
      });
    },

    EnvsChange(currentChioce) {
      for (var i = 0; i < this.envs.length; i++) {
        if (this.envs[i].eName == currentChioce) {
          this.envHost = this.envs[i].eHost;
        }
      }
    },

    // 添加功能点
    AddTestCaseName(data) {
      this.$prompt("请输入功能点名称", "添加功能点", {
        confirmButtonText: "确定",
        cancelButtonText: "取消"
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let uidata = {
            modelName: value,
            tcid: data.id
          };
          this.$api.testcase.AddModelName(uidata).then(res => {
            if (res.data.code == 1) {
              const newChild = {
                id: res.data.tcmnid,
                label: res.data.nodeName,
                children: []
              };
              data.children.push(newChild);
            } else {
              this.$message({ type: "warn", message: res.data.message });
            }
          });
        } else {
          this.$message({ type: "warn", message: "不能为空" });
        }
      });
    },

    // 修改测试用例名字
    EditTestCaseName(data) {
      this.$prompt("请输入名称", "编辑测试用例名称", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValue: data.label
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let apidata = {
            type: 1,
            scriptName: value,
            modelId: data.id
          };
          this.$api.testcase.EditModelName(apidata).then(res => {
            if (res.data.code == 1) {
              data.label = res.data.nodeName;
              console.log("this.uidata",this.uidata.label)
            } else {
              this.$message({ type: "warn", message: res.data.message });
            }
          });
        } else {
          this.$message({ type: "info", message: "不能为空" });
        }
      });
    },

    // 添加操作名和实际操作步骤
    AddUiSetpInfo(data) {
      this.uiSetpInfoVisible = true;
      this.openSource = 1;
      this.uiInfoData = data;
    },

    DialogFormSubmit(){
      console.log("stepinfo",this.setpInfo)
      if(this.openSource==1){
        // 新增
        let setpData={
          tcid:this.tcid,
          tcmnId:this.uiInfoData.id,
          setpName:this.setpName,
          setpInfo:this.setpInfo,
          judegType:this.judegType,
          matchInfo:this.matchInfo,
          comparedValue:this.needComparedValue,
          msgValue:this.msgValue
        }
        this.$api.testcase.AddUiStepName(setpData).then(res => {
          if (res.data.code == 1){
            const newChild = {
              id: res.data.tcsid,
              label: res.data.nodeName,
            };
            console.log("this.uiInfoData2",this.uiInfoData);
            this.uiInfoData.children.push(newChild);
          }
          else{
            this.$message({ type: "warn", message: res.data.message });
          }
        })
      }
      else if(this.openSource==2){
        // 编辑
        let setpData={
          tcid:this.tcid,
          tcmnId:this.uiInfoData.id,
          setpName:this.setpName,
          setpInfo:this.setpInfo,
          judegType:this.judegType,
          matchInfo:this.matchInfo,
          comparedValue:this.needComparedValue,
          msgValue:this.msgValue
        }
        this.$api.testcase.EditUiStepName(setpData).then(res => {
          if (res.data.code == 1){
            this.uiInfoData.label = res.data.nodeName
          }
          else{
            this.$message({ type: "warn", message: res.data.message });
          }
        })
      }
      else{
        this.$message({ type: "warn", message: "出错了,请刷新页面" });
      }
      this.uiSetpInfoVisible = false
    },

    CloseStepDialog(){
      // 关闭页面事件
      // this.this.uiInfoData = {};
      this.setpName="";
      this.setpInfo=[{describe:"",action:"", elementfunc: "",searchValue:"",elePosition:"",fillText:"",key: Date.now() }],
      this.judegType="";
      this.matchInfo = {matchMthod:"",elementPostion:"",matchValue:""};
      this.msgValue="";
      this.needComparedValue=""
    },

    EditTestCaseModelName(data) {
      this.$prompt("请输入名称", "编辑功能点名称", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        inputValue: data.label
      }).then(({ value }) => {
        if (value != "" && typeof value != "undefined" && value != null) {
          let uidata = {
            type: 2,
            scriptName: value,
            modelId: data.id
          };
          this.$api.testcase.EditModelName(uidata).then(res => {
            if (res.data.code == 1) {
              data.label = res.data.nodeName;
            } else {
              this.$message({ type: "warn", message: res.data.message });
            }
          });
        } else {
          this.$message({ type: "info", message: "不能为空" });
        }
      });
    },

    DeleteModelFunc(node,data){
      let uidata={
        type:1,
        tcid: this.tcid,
        delId:data.id,
      };
      this.$api.testcase.DelSetpInfo(uidata).then(res =>{
        if (res.data.code == 1) {
            const parent = node.parent;
            const children = parent.data.children || parent.data;
            const index = children.findIndex(d => d.id === data.id);
            children.splice(index, 1);
        } else {
          this.$message({ type: "warn", message: res.data.message });
        }
      })
    },



    AddBody() {
      this.setpInfo.push({
        describe:"",action:"", elementfunc: "",searchValue:"",elePosition:"",fillText:"",
        key: Date.now()
      });
    },

    RemoveBody(item) {
      var index = this.setpInfo.indexOf(item);
      if (index !== -1) {
        this.setpInfo.splice(index, 1);
      }
    },


    EditUiSetpInfo(data){
      this.openSource = 2;
      this.uiInfoData = data;
      // GetSetpCaseInfo
      let setpData = {
        tcid: this.tcid,
        tcsid : data.id
      };
      this.$api.testcase.GetSetpCaseInfo(setpData).then(res =>{
        // 转化回VUE支持的格式
        if (res.data.code == 1){
          this.setpName = res.data.caseInfo.setpName;
          this.setpInfo = res.data.caseInfo.setpInfo;
          this.judegType = res.data.caseInfo.judegType;
          this.matchInfo = res.data.caseInfo.matchInfo;
          this.needComparedValue = res.data.caseInfo.needComparedValue;
          this.msgValue = res.data.caseInfo.msg;
          this.uiSetpInfoVisible = true;
        }else{
          this.$message({ type: "warn", message: res.data.message });
        }
      })
    },

    DeleteSetpFunc(node,data){
      let uidata={
        type:2,
        tcid: this.tcid,
        delId:data.id,
      };
      this.$api.testcase.DelSetpInfo(uidata).then(res =>{
        if (res.data.code == 1) {
            const parent = node.parent;
            const children = parent.data.children || parent.data;
            const index = children.findIndex(d => d.id === data.id);
            children.splice(index, 1);
        } else {
          this.$message({ type: "warn", message: res.data.message });
        }
      })
    },

    AdjustOpreatStep(key){
      for(var i = 0;i < this.setpInfo.length;i++){
        if(this.setpInfo[i].key === key){
          if(i === 0){
            return
          }
          this.setpInfo[i] = this.setpInfo.splice(i-1,1,this.setpInfo[i])[0]
          // 下移
          // fieldData[index] = fieldData.splice(index+1, 1, fieldData[index])[0];
        }
      }
    },

    GetIndexOf(key){
      for(var i = 0;i < this.setpInfo.length;i++){
        if(this.setpInfo[i] === key){
          return i
        }
      }
    },

    handleDragStart(node, ev) {
      this.drag_nod_parent_id = node.parent.data.id
    },
    handleDrop(draggingNode, dropNode, dropType, ev) {
      let data = {
        tcid : this.tcid,
        currentId : draggingNode.data.id,
        exchangeId : dropNode.data.id,
        dropType : dropType
      }
      this.$api.testcase.ChangePosition(data).then(res => {
        if (res.data.code !== 1) {
          // 不成功就还原，没找到方法处理
          this.$message({ type: "warn", message: res.data.message });
        }
      })
    },
    allowDrop(draggingNode, dropNode, type) {
      if (dropNode.level===2){
        return false
      }
      if (dropNode.parent.data.id === this.drag_nod_parent_id)
      {
        if (type !== "inner")
        {
          return true
        }
      }
      return false
    },
    allowDrag(draggingNode) {
      if (draggingNode.level==3){
        return true
      }
      else{
        return false
      }
    },

    renderContent(h, { node, data, store }) {
      if (node.level == 1) {
        return (
          <span class="custom-tree-node">
            <span>{node.label}</span>
            <span>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.RunTestCase(data)}
              >
                运行
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.AddTestCaseName(data)}
              >
                新建项
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.EditTestCaseName(data)}
              >
                改名
              </el-button>
            </span>
          </span>
        );
      } else if (node.level == 2) {
        return (
          <span class="custom-tree-node">
            <span>{node.label}</span>
            <span>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.AddUiSetpInfo(data)}
              >
                新建项
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.EditTestCaseModelName(data)}
              >
                改名
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.DeleteModelFunc(node, data)}
              >
                删除
              </el-button>
            </span>
          </span>
        );
      } else if (node.level == 3) {
        return (
          <span class="custom-tree-node">
            <span>{node.label}</span>
            <span>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.EditUiSetpInfo(data)}
              >
                编辑
              </el-button>
              <el-button
                size="mini"
                type="text"
                on-click={() => this.DeleteSetpFunc(node, data)}
              >
                删除
              </el-button>
            </span>
          </span>
        );
      }
    },

    GetUrlParams(value){
      console.log("value",value)
      var paramsText = String(value).split("?")
      if (paramsText.length > 1 && paramsText.length == 2){
        let data = {
          param:paramsText[1]
        }
        this.$api.testcase.GetUrlParams(data).then(res => {
          for(var key in res.data){
            var dict = {}
            dict["hkey"] = key
            dict["value"] = res.data[key]
            this.headers.push(dict)
          }
        })
      }
    },

    OpreationRecord(){
      let data = {
        tcid:this.tcid
      }
      this.$api.testcase.GetRecordData(data).then(res => {
        if (res.data){
          this.recordData = res.data.data
        }
        else{
          this.recordData = [{
            user:"",
            content:"",
            time:""
          }]
        }
        this.popUpTable = true
      })
    }
    
  }
};
</script>



<style>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}

.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding-right: 8px;
}

.el-form {
  margin-top: 20px;
}



.demo-form-inline {
  margin-left: 50px;
}




</style>

<style scope>
 .actiocc{
    width: 200px;
    margin-bottom:3px;
}
</style>


