<template>
  <el-row>
    <el-col :span="24">
      <el-button @click="AddUser()" type="success">添加用户</el-button>
      <div class="panel panel-default">
        <div class="panel-heading">项目列表</div>
        <div>
          <el-table :data="tableData" style="width: 100%">
            <el-table-column prop="uid" label="ID" width="60"></el-table-column>
            <el-table-column prop="userAccount" label="账号" width="180"></el-table-column>
            <el-table-column prop="userName" label="名字" width="180"></el-table-column>
            <el-table-column prop="email" label="邮箱"></el-table-column>
            <el-table-column prop="work" label="角色"></el-table-column>
            <el-table-column prop="opreate" label="操作">
              <template slot-scope="userinfo" v-if="userinfo.row.userAccount != 'admin'">
                <el-button
                  type="primary"
                  @click="BanUser(userinfo.row)"
                  v-if="userinfo.row.status==1"
                >冻 结</el-button>
                <el-button
                  type="primary"
                  @click="UnBanUser(userinfo.row)"
                  v-if="userinfo.row.status==2"
                >解 冻</el-button>
                <el-button type="primary" @click="EditUser(userinfo.row)">编 辑</el-button>
                <el-button type="danger" @click="DeleteUser(userinfo.row)">删 除</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>

      <el-dialog
        :close-on-click-modal="false"
        title="角色信息"
        :visible.sync="dialogFormVisible"
        @close="CloseDialog"
      >
        <el-form>
          <el-form-item label="用户账号" :label-width="formLabelWidth">
            <el-input v-model="account" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="用户密码" :label-width="formLabelWidth">
            <el-input v-model="password" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="用户名称" :label-width="formLabelWidth">
            <el-input v-model="username" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="邮箱" :label-width="formLabelWidth">
            <el-input v-model="email" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="角色" :label-width="formLabelWidth">
            <el-select class="form-select" v-model="role" placeholder="请选择用户角色">
              <el-option label="测试" value="ceshi"></el-option>
              <el-option label="开发" value="kaifa"></el-option>
              <el-option label="产品" value="chanpin"></el-option>
              <el-option label="管理" value="guanli"></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="DialogOnSubmit()">确 定</el-button>
        </div>
      </el-dialog>
    </el-col>
  </el-row>
</template>


<script>
export default {
  data() {
    return {
      tableData: [],
      dialogFormVisible: false,
      formLabelWidth: "120px",
      account: "",
      password: "",
      username: "",
      email: "",
      role: "",
      //   1新增 2编辑
      dialogOpenSource: 0,
      opreatrowdata: ""
    };
  },
  mounted() {
    this.$api.usermanager.GetUserList().then(res => {
      this.tableData = res.data;
    });
  },
  methods: {
    AddUser() {
      //   打开dialog
      this.dialogFormVisible = true;
      this.dialogOpenSource = 1;
    },
    EditUser(row) {
      //   打开dialog
      this.dialogFormVisible = true;
      this.dialogOpenSource = 2;
      this.opreatrowdata = row;
      this.account = row.userAccount;
      this.username = row.userName;
      this.email = row.email;
      this.role = row.work;
    },
    DialogOnSubmit() {
      if (this.dialogOpenSource == 1) {
        if (this.role == "") {
          this.$message({ type: "warn", message: "角色权限是必填项" });
          return;
        }
        let data = {
          account: this.account,
          password: this.password,
          username: this.username,
          email: this.email,
          work: this.role
        };
        this.$api.usermanager.AddUser(data).then(res => {
          if (res.data.code == 1) {
            this.$message({ type: "success", message: res.data.message });
            this.$api.usermanager.GetUserList().then(res => {
              this.tableData = res.data;
            });
          } else {
            this.$message({ type: "warn", message: res.data.message });
          }
        });
      } else if (this.dialogOpenSource == 2) {
        let data = {
          uid: this.opreatrowdata.uid,
          account: this.account,
          password: this.password,
          username: this.username,
          email: this.email,
          work: this.role
        };
        this.$api.usermanager.EditUser(data).then(res => {
          if (res.data.code == 1) {
            this.$message({ type: "success", message: res.data.message });
            this.$api.usermanager.GetUserList().then(res => {
              this.tableData = res.data;
            });
          } else {
            this.$message({ type: "warn", message: res.data.message });
          }
        });
      }
      this.dialogFormVisible = false;
    },
    CloseDialog() {
      (this.account = ""),
        (this.password = ""),
        (this.username = ""),
        (this.email = ""),
        (this.role = ""),
        (this.dialogOpenSource = 0),
        (this.opreatrowdata = []);
    },
    DeleteUser(row) {
      this.$confirm("此操作将会删除用户, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let data = {
            type: 1,
            uid: row.uid
          };
          this.$api.usermanager.OpreatUser(data).then(res => {
            if (res.data.code == 1) {
              this.$message({
                type: "success",
                message: res.data.message
              });
              this.$api.usermanager.GetUserList().then(res => {
                this.tableData = res.data;
              });
            } else {
              this.$message({
                type: "warn",
                message: res.data.message
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

    BanUser(row) {
      this.$confirm("此操作将会冻结用户, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          let data = {
            type: 2,
            uid: row.uid
          };
          this.$api.usermanager.OpreatUser(data).then(res => {
            if (res.data.code == 1) {
              this.$message({
                type: "success",
                message: res.data.message
              });
              this.$api.usermanager.GetUserList().then(res => {
                this.tableData = res.data;
              });
            } else {
              this.$message({
                type: "warn",
                message: res.data.message
              });
            }
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },

    UnBanUser(row) {
      let data = {
        type: 3,
        uid: row.uid
      };
      this.$api.usermanager.OpreatUser(data).then(res => {
        if (res.data.code == 1) {
          this.$message({
            type: "success",
            message: res.data.message
          });
          this.$api.usermanager.GetUserList().then(res => {
            this.tableData = res.data;
          });
        } else {
          this.$message({
            type: "warn",
            message: res.data.message
          });
        }
      });
    }
  }
};
</script>

<style scoped>
.el-row {
  display: flex;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
  margin: 2%;
}

.panel {
  border: none !important;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}
</style>
