<template>
  <el-container style="border: 1px solid #eee;">
    <el-header>
      <div class="title">自动化测试</div>
      <div class="header-right">
        <div class="user-avator">
          <img :src="imgUrl">
        </div>
        <div class="user-name el-dropdown">
          <el-dropdown trigger="click" @command="handleCommand">
            <el-button type="primary">
              {{ userName }}<i class="el-icon-caret-bottom"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="logout">退出登录</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </el-header>
    <el-container >
      <el-aside>
        <el-menu :default-openeds="['1', '7']"
          class="el-menu-vertical-demo"
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b">
          <router-link to='/index' replace tag="li">
          <el-menu-item index="1">
            
            <i class="el-icon-s-platform"></i>
            <span slot="title">主页</span>
            
          </el-menu-item>
          </router-link>
          <router-link to='/project' replace tag="li">
          <el-menu-item index="2">
            <i class="el-icon-document"></i>
            <span slot="title">项目</span>
          </el-menu-item>
          </router-link>
          <router-link to='/event' replace tag="li">
          <el-menu-item index="3">
            <i class="el-icon-document"></i>
            <span slot="title">测试环境</span>
          </el-menu-item>
          </router-link>
          <router-link to='/testcase' replace tag="li">
          <el-menu-item index="4">
            <i class="el-icon-document"></i>
            <span slot="title">测试用例</span>
          </el-menu-item>
          </router-link>
          <router-link to='/task' replace tag="li">
          <el-menu-item index="5">
            <i class="el-icon-document"></i>
            <span slot="title">定时任务</span>
          </el-menu-item>
          </router-link>
          <router-link to='/reportlist' replace tag="li">
          <el-menu-item index="6">
            <i class="el-icon-document"></i>
            <span slot="title">测试报告</span>
          </el-menu-item>
          </router-link>
          <router-link to='/usermanager' replace tag="li">
          <el-menu-item index="7">
            <i class="el-icon-user-solid"></i>
            <span slot="title">用户管理</span>
          </el-menu-item>
          </router-link>
        </el-menu>
      </el-aside>
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
export default {
  data() {
    return{
      userName:'',
      imgUrl:require("../assets/headimg.jpg")
    }
  },
  mounted() {
    const data = JSON.parse(localStorage.getItem('userData'))
    this.userName = data.userName
    },
  methods:{
    handleCommand(command) {
      if (command === 'logout') {
        this.logout()
      }
    },
    logout(){
      this.$api.login.logout().then(
        res=>{
          sessionStorage.setItem('userData',"")
          this.$router.push('/login')
        }
      )
    }
  }
};
</script>


<style>

.el-header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    font-size: 22px;
    color: #fff;
    background-color: #2b3950;
}


.title {
  text-align: center;
  float: left;
  width: 250px;
  line-height: 70px;
}

.header-right{
    float: right;
    padding-right: 50px;
    display: flex;
    height: 70px;
    align-items: center;
}

.user-avator {
    margin-left: 20px;
}

.user-avator img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    margin-left: 10px;
}

.el-dropdown {
    display: inline-block;
    position: relative;
    color: #606266;
    font-size: 14px;
}


.el-aside{
    display: block;
    position: absolute;
    margin-left: 1px;
    left: 0;
    top: 70px;
    bottom: 0;
    overflow-y: scroll;
    margin-top: -9px;
}
.el-menu{
    width: 250px;
    height: 100%;
    border-right: 1px solid #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}

.el-main {
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    padding-bottom: 30px;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
    /* background: rgb(206, 88, 88); */
    margin-top: -9px;
    margin-right: 1px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

</style>

