<template>
    <div class="panel-heading" :title="titleName"></div>
</template>

<script>
export default {
    data(){
        titleName:""
        return {
            titleName:""
        }
    }
}
</script>


<style>
.panel-heading {
  position: relative;
  height: 57px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: 400;
  padding: 0 16px;
  background: #ddede0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 22px;
}
</style>
