<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  provide(){
    return{
      reload:this.reload
    }
  },
  data(){
    return{
      isRouterAliver:true
    }
  },
  methods:{
    reload(){
      this.isRouterAliver = false
      this.$nextTick(function(){
        this.isRouterAliver=true
      })
    }
  }

}
</script>

<style>
*{
  padding: 0;
  margin: 0;
}
#app, html, body{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family:'微软雅黑',"宋体","Arial Narrow",Helvetica,sans-serif;
}

/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
/* .indentifi{
  font-size:12px;
  font-family:'微软雅黑',"宋体","Arial Narrow",Helvetica,sans-serif;
  color:#000;
  line-height:1.2;
  text-align: left;
} */

</style>
